@charset "utf-8";
/* CSS Document */
/*Footer-v1
------------------------------------*/
.footer-v1 .footer {
	padding: 40px 0;	
	background:#000000;
}

.footer-v1 .footer p {
	color: #eee;
}

.footer-v1 .footer h2 {
	color: #eee;
	font-size: 13px;
	font-weight:normal !important;
}
.headline{
	text-transform:uppercase;
}
.link_font li a{
	font-size:12px
}
	
.harimg{
	margin: 15px 0px 37px 0px;
}
.harimg1{
	   margin: -40px 0px 5px 0px;
}

/*Link List*/
.footer-v1 .link-list li {
	/*border-top: solid 1px #353535;*/
	padding:2px
}

.footer-v1 address,
.footer-v1 .link-list a,
.footer-v1 .link-list i {
	color: #eee;
}

.footer-v1 address {
	line-height: 23px;
}

/*Dotted Map*/
.footer-v1 .footer .map-img {
	background: url(../../img/map-img.png) 5px 60px no-repeat;
}

/*Blog Posts (with images)*/
.footer-v1 .footer .posts .dl-horizontal a {
 color: #dadada;
}

.footer-v1 .footer .dl-horizontal a:hover {
 color: #5fb611 !important;
}

/*Copyright*/
.footer-v1 .copyright {
	background:#000;
	border-top: none;
	padding: 0px 0 0px;
}

.footer-v1 .copyright p {
	color: #eee;
	margin-top: 14px;
}

.footer-v1 .copyright a {
	margin: 0 2px;
}

.footer-v1 .footer-socials {
	margin-top: 12px;
	text-align: right;
}

.footer-v1 .footer-socials li a {
	color:#fff;
	font-size: 16px;
}
.hr_size1{
	display:none;
	margin: 15px 0px 37px 0px;
}

/*@media (max-width: 991px) {
	.footer-v1 .copyright,
	.footer-v1 .footer-socials {
		text-align: left;
	}
}*/
@media (min-width:769px) and (max-width:991px){
	.media_scr{
		width: 20.66666667% !important;
		float:left;
	}
	.media_scr1{
		width: 5.333333% !important;
		float:left;
	}
}

