@charset "utf-8";
/* CSS Document */
@media (min-width:300px) and (max-width:480px){
	
/*..heasder sectin..*/	
	.header .topbar {
    z-index: 12;
    padding: 13px 0;
    position: relative;
    margin-right: 0px !important;
}
	.header .topbar ul.loginbar {
    margin: -4px !important;
}
/*..heasder sectin..*/	


/*..Service sectino..*/	
.head_ing{
	font-family:Ronnia;
	font-size:25px !important;
	padding-bottom: 25px; 
	color:#ff9900;
}
/*..Service sectino..*/	
/*media*/
.media_size{
}
.col-xs-offset-2{
	margin-left: 3.667%;
}
.col-xs-8 {
   width: 95.667%;
}
.search {
  
}
/*media*/

/*footer*/
.divider_off{
	display:none !important;
}
/*service*/
.form_padding {
    padding: 0px 0px;
}

.img_width{
	width:83px
}
.margin_para {
    text-align: center;
    margin: 5px 0px;
    font-size: 10px;
}

/*slider*/

/*horoscope*/
.horocolor_pargra {
	font-size:10px !important;
	margin:0px;
	color: #fff;
}
.img_horoscope{
	float:none;
}
.para_horoscope{
	float:none;
}

/*footer*/
.hr_size1 {
	display:inherit !important;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 1px dashed rgba(67, 61, 52, 0.99);
}
}
@media (min-width:769px) and (max-width:991px){
	/*footer*/
	.media_scr{
		width: 20.66666667% !important;
		float:left;
	}
	.media_scr1{
		width: 5.333333% !important;
		float:left;
	}
	/*footer*/
}

@media (min-width:769px) and (max-width:990px){
	
	.img_width{
	width:100px;
}
	/*sunsign*/
.form_padding {
    padding: 0px 0px !important;
}
/*sunsign*/
}
	
@media (min-width:481px) and (max-width:768px){
	
	.img_width{
	width:100px;
}
	
	.divider_off{
	display:none !important;
}
.hr_size1 {
	display:inherit !important;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 1px dashed rgba(67, 61, 52, 0.99);
}
/*sunsign*/
.form_padding {
    padding: 0px 0px;
}
/*sunsign*/
}