@charset "utf-8";
/* CSS Document */
.panel-footer {
    padding: 10px 15px;
    background-color: #201300;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.panel-body {
    padding: 15px;
    background: #201300;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 5px;
}
.box2 {
	margin-top:10px;
	background: #201300;
}
.btn_review{
	margin-top:5px
}
.btn_review a{
	font-size:11px
}
.btn_padding{
	padding:4px 2px;
	border-radius:2px;
}
.span_color_exp{
    color: #ff9900;
    font-size: 15px;
}
figcaption.ratings
{
    margin-top:0px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }








/*feedback*/


.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #FFFFFF;
    border-width: 15px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 30px;
    /*Use boarder color of panel*/
    border-left-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -14px;
    top: 31px;
    /*Change for different outline color*/
    border-left-color: #FFFFFF;
    border-width: 15px;
  }
}
.comment-list .comment-post {
  margin-top: 6px;
}
/*feedback*/



.more_astrologer{
	margin-top:15px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.sm-margin-bottom-20{
	margin-bottom: 20px;
}
.profile-blog {
    padding: 20px;
    background:#201300;
}
.profile-blog img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.rounded-x {
    border-radius: 50% !important;
}
.name-location {
    overflow: hidden;
}
.name-location strong {
    color:#ff9900;
    display: block;
    font-size: 16px;
}
strong {
    font-weight: 700;
}
.name-location span i {
    color: #ff9900;
    font-size: 18px;
    margin-right: 5px;
}
.name-location span a {
    color: #555;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn-u.btn-u-default {
    background: #201300;
}
.btn-u.btn-block {
    text-align: center;
}
.btn-u {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #ff9900;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.share-list {
    margin-bottom: 0;
}
.share-list li i {
    color: #ff9900;
    margin-right: 5px;
}

/*Registraion*/
.registraion_form{
	margin-top: 10px;
}
.color_well{
	background:#fff;
}
.cont_size{
	color:#000;
	margin-left:35px
}
.cont_size1{
	color:#000;
	margin-left:25px
}
.col_chang{
	color:#000;
	margin: 0px 10px;
}
/*Registraion*/





