.col_heading4 {
    color: #ff9900;
    margin-bottom: 20px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.31);
}
.horizontal-row-1{
	padding:px
}
.btn-sm:hover{
	background:#000;
}
.Feed_back{
	margin-top:20px
}
.tab_form{
	color: #fff;
    background-color: rgba(236, 236, 236, 0);
}
.headerr {
    background: #f90 !important;
    border-radius: 5px;
    border: none;
    color: #fff;
}
.header_pad {
    background: #f90 !important;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 10px 10px;
    padding: 0px;
    font-size: 21px;
}
.header_pannel{
	background:#201300 !important;
}
#review-bg-container{width:100%;
height:399px;
float:left;
margin-top:10px;
background:url(../images/review-bg.jpg); background-repeat:repeat-x;}


#review-bg-inner{width:1000px;
margin:0 auto;
height:auto;
padding:5px 5px 10px 0px;
overflow:hidden;
}


.btn_size{
    padding: 2px 14px;
}

#review-bg-left{width:630px;
float:left;
height:auto;
font-size:13px;
}

#review-bg-left strong{color:#ff9900; font-size:13px; font-weight:normal;}


.blue-txt{float: right;
    font-size: 13px;
    margin: 0 auto;
    text-align: center;
    width: 242px;}


.review-title{width:501px;
height:34px;
border:1px solid #e5cfcf;
border-bottom-left-radius:10px;
border-top-right-radius:10px;
background:url(../images/review-input-titile.jpg); background-repeat:repeat-x;
padding-left:5px;
padding-right:5px;
}

.review-description{width:501px;
height:34px;
border:1px solid #e5cfcf;
border-bottom-left-radius:10px;
border-top-right-radius:10px;
height:70px;
background:url(../images/review-input-bg.jpg); background-repeat:repeat-x;
padding-left:5px;
padding-right:5px;
padding-top:5px;}

.review-name{width:269px;
height:25px;
border:1px solid #e5cfcf;
border-bottom-left-radius:10px;
border-top-right-radius:10px;
background:url(../images/review-input-titile.jpg); background-repeat:repeat-x;
padding-left:5px;
padding-right:5px;
}

#rate-container-width{235px;
height:36px;
border:1px solid #e5cfcf;
border-bottom-left-radius:10px;
border-top-right-radius:10px;
background:url(../images/review-input-titile.jpg); background-repeat:repeat-x;
}

#user-profile{width:88px;
height:80px;
border:2px solid #999;
text-align:center;}


.fileUpload {
	position: relative;
	overflow: hidden;
	margin:5px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

#review-bg-right{border-left: 1px dashed #CCCCCC;
    float: left;
    height: auto;
    margin-left: 15px;
    width: 350px;
}

div.custom_file_upload {
	width: 100px;
	height: 20px;
	float:left;
	margin-left:62px;
	padding:6px;
}

input.file {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-left-radius: 5px;
    border-color: #BBBBBB -moz-use-text-color #BBBBBB #BBBBBB;
    border-image: none;
    border-style: solid none solid solid;
    border-top-left-radius: 5px;
    border-width: 1px 0 1px 1px;
    color: #888888;
    height: 22px;
    outline: medium none;
    padding: 0;
    width: 95px;
}

div.file_upload {
	background:#039;
	border-radius:5px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline;
    font-weight: bold;
    height: 24px;
    overflow: hidden;
	padding:3px 5px 5px 5px;
    position: absolute;
    text-align: center;
    width: 68px;
	font-size:13px;
}
div.file_upload:before {
	content: 'UPLOAD';
	position: absolute;
	text-align: center;
	cursor: pointer;
}

div.file_upload input {
	position: relative;
	height: 30px;
	width: 50px;
	display: inline;
	cursor: pointer;
	opacity: 0;
}


.review-submit{width:92px;
height:31px;
background:url(../images/review-submit.jpg);background-repeat:no-repeat;
font-size:14px;
text-align:center;
padding:5px;
color:#FFF;
font-weight:bold;
cursor:pointer;
border:none;}

.review-send-enquiry{width:200px;
height:29px;
border:1px solid #8b8686;
padding-left:5px;
padding-right:5px;
background:#cdd7de;
}

.review-text-area-message{width:205px;
height:85px;
border:1px solid #8b8686;
padding-left:5px;
background:#cdd7de;
}

#review-captcha{width:155px;
height:38px;
margin:0 auto;
border:1px solid #918c8d;
text-align:center;
}

#rate-container-width{background: url("../images/review-input-titile.jpg") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #E5CFCF;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 20px;
   padding: 0px 5px 5px 10px;
    width: 122px;
}

.review-box{width: 685px;
height:auto;
float:left;
padding:3px 3px 3px 3px;
border-bottom:1px solid #c6c6c6;
}

.review-box h1{color: #656766; font-size:18px;}


.review-content{font-size: 13px;
    text-align: justify;}
.review-content-bold{font-weight:bold; font-size:14px;}

.date-time-postd{font-size:13px;
color:#06F;
padding:2px;
}





#review-bottom-divider{width:765px;
float:left;
height:1px;
background:#000;
border-radius:5px;
border:1px solid #000;
box-shadow:3px 2px 3px 0px rgba(50, 50, 50, 0.75);
margin-bottom:5px;
margin-top:5px;
}






/*media left menu*/
#media-left{width:232px;
height:auto;
float:left;
}


.media-left-menu {
	margin: 0px;
	padding: 0px;
	vertical-align:top;
	width:232px;
	margin-bottom:10px;
	height:auto;
	
}

.media-left-menu ul{
	width:232px;
	margin: 0px;
	padding: 0px 0 0 0px;
	height:auto;
}
.media-left-menu ul li {
	 background-position: 0 0.9em;
    background-repeat: no-repeat;
    color: #23376c;
    float: left;
    font-size: 13px;
	font-weight:bold;
    list-style-type: none;
    margin: 4px;
    padding: 0 0 1px 5px;
    text-align: left;
    width: 220px;
	height:20px;
	line-height:18px;
	background:#f4f4f4;
	}	
.media-left-menu ul li a{ text-decoration:none; color:#23376c;}
.media-left-menu ul li a:hover{ text-decoration:underline; color:#23376c;}


.markermenu{
width: 190px; /*width of side bar menu*/
clear: left;
position: relative; /*Preserve this for "right" arrow images (added by script) to be positioned correctly*/
margin:0px;
padding:0px;
margin-left:10px;

}

.markermenu ul{
list-style-type: none;
margin: 0px 0px;
padding: 0;
border: 1px solid #9A9A9A;
}

.markermenu ul li a{
background: url("../images/after.png") no-repeat scroll 3px center #F2F2F2;
    border-bottom: 1px solid #B5B5B5;
    color: #00014E;
    display:block;
    font: bold 15px "Lucida Grande","Trebuchet MS",Verdana,Helvetica,sans-serif;
    height: 5px;
    padding: 5px 0 19px 20px;
    text-decoration: none;
    width: auto;
}

* html .markermenu ul li a{ /*IE6 hack*/
width: 155px;
}

.markermenu ul li a:visited, .markermenu ul li a:active{
color: #00014e;
}

.markermenu ul li a:hover, .markermenu ul li a.selected{
color: white;
background-color: #00a2ed;
}

/* ######### Customized Drop Down ULs CSS (inherits from ddlevelsmenu-base.css) ######### */

.blackwhite li a{
background: white;
}

.blackwhite li a:hover{
background: black;
color: white;
}
	
	
	
	
#media-right{width:700px;
height:auto;
float:left;
margin-top:10px;
margin-left:10px;
margin-right:10px;
border:2px solid #06C;
padding:5px 5px 5px 8px;
}


.media-heading{font-size:16px;
color:#069;
padding:5px 5px 5px 0px;
font-weight:bold;
}

/*end media left menu*/


/*post error*/
.post-error-txt-area{background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    height: 90px;
    padding: 5px;
    resize: none;
    width: 350px;
border: 1px solid #999;
	
}


.post-error-input{
	padding: 5px;
width:375px;
display:block;
border: 1px solid #999;
height: 18px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}


.post-error-mention-input{
	padding: 5px;
width:325px;
display:block;
border: 1px solid #999;
height: 18px;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}


.blue{font-size:16px; color:#0099ff; }

/*post error end*/


/*socail-media-icon*/


#social-media-name{border-bottom: 1px solid #C5C5C5;
    color: #00A0E3;
    float: left;
    font-size: 22px;
    font-weight: bold;
    height: 45px;
    width: 100px;
}





.social-media-icons ul{margin:0 auto;
width:110px;
height:auto;
padding:0px;
}


.social-media-icons ul{
    height: auto;
    padding: 0;
    width:110px;
}

.social-media-icons ul li{width:30px;
height:30px;
float:left;
list-style-type:none;
margin:10px 2px 2px 2px;
}




.progress {
  height: 16px;
 /* background: #ebebeb;*/
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 6px;
  margin-bottom: 0;
    margin-top: 4px;
}
.progress > span {
  position: relative;
  float: left;
  margin: 0 -1px;
  min-width: 30px;
  height: 16px;
  line-height: 16px;
  text-align: right;
  background: #cccccc;
  border: 1px solid;
  border-color: #bfbfbf #b3b3b3 #9e9e9e;
  border-radius: 6px;
  background-image: -webkit-linear-gradient(top, #f0f0f0, #dbdbdb 70%, #cccccc);
  background-image: -moz-linear-gradient(top, #f0f0f0, #dbdbdb 70%, #cccccc);
  background-image: -o-linear-gradient(top, #f0f0f0, #dbdbdb 70%, #cccccc);
  background-image: linear-gradient(to bottom, #f0f0f0, #dbdbdb 70%, #cccccc);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.progress > span > span {
  padding: 0 8px;
  font-size: 11px;
  font-weight: bold;
  color: #404040;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}
.progress > span:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 16px;
  background: url("../img/progress.png") 0 0 repeat-x;
  border-radius: 10px;
}
.progress .green {
  background: #85c440;
  border-color: #78b337 #6ba031 #568128;
  background-image: -webkit-linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440);
  background-image: -moz-linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440);
  background-image: -o-linear-gradient(top, #b7dc8e, #99ce5f 70%, #85c440);
  background-image: linear-gradient(to bottom, #b7dc8e, #99ce5f 70%, #85c440);
}
.progress .red {
  background: #db3a27;
  border-color: #c73321 #b12d1e #8e2418;
  background-image: -webkit-linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27);
  background-image: -moz-linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27);
  background-image: -o-linear-gradient(top, #ea8a7e, #e15a4a 70%, #db3a27);
  background-image: linear-gradient(to bottom, #ea8a7e, #e15a4a 70%, #db3a27);
}
.progress .orange {
  background: #f2b63c;
  border-color: #f0ad24 #eba310 #c5880d;
  background-image: -webkit-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: -moz-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: -o-linear-gradient(top, #f8da9c, #f5c462 70%, #f2b63c);
  background-image: linear-gradient(to bottom, #f8da9c, #f5c462 70%, #f2b63c);
}
.progress .blue {
  background: #5aaadb;
  border-color: #459fd6 #3094d2 #277db2;
  background-image: -webkit-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: -moz-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: -o-linear-gradient(top, #aed5ed, #7bbbe2 70%, #5aaadb);
  background-image: linear-gradient(to bottom, #aed5ed, #7bbbe2 70%, #5aaadb);
}



.progress-content{color: #000000;
    float: left;
    font-size: 11px;
    height: 20px;
    margin-right: 3px;
    padding-left: 3px;
    padding-top: 2px;
    width: 49px;
}
.progress-content-good{width:45px;
height:16px;
float:left;
color:#000;
margin-right:3px;
font-size:11px;
padding-left: 3px;
padding-top: 2px;
}


.progress-content-average{width:40px;
height:20px;
float:left;
color:#000;
margin-right:3px;
font-size:11px;
padding-left: 3px;
padding-top: 2px;
}



.total-review-txt{font-size:11px;
color:#000;
float:left;
background-repeat:no-repeat; 
padding-left:5px;
height:17px;
width:50px;
border-left:1px solid #999;
margin-top:3px;

}

.review-with-icon{font-size:12px;
font-weight:bold;
color:#000;
float:left;
background:url(../images/review-icon.png); background-repeat:no-repeat; 
padding-left:25px;
height:17px;
width:80px;
margin-left: 3px;
padding-top: 3px;
}

.review-with-icon a{text-decoration:none; color:#000;
}
.review-with-icon a:hover{text-decoration:underline; color:#000;
}

#progress-container{width:165px;
height:auto;
float:left;
padding-top:2px;}


#star-coantainer{width:165px;
height:auto;
float:left;
}

.newvd .fk-stars {
background: transparent url(../prod/images/landing-page/product_greystar-0dedce9a.png) top left repeat-x;
width: 75px;
}


.fk-stars {
background: transparent url(../images/star_grey_full-c0bc05fa.png) top left repeat-x;
width: 85px;
height: 17px;
display: inline-block;
vertical-align: bottom;
text-align: left;
zoom: 1;
}
.fk-stars .rating {
background: transparent url(../images/yellow-star.png) top left repeat-x;
height: 17px;
width: 0;
}

.newvd .fk-stars {
    background: url("../images/landing-page/product_greystar-0dedce9a.png") repeat-x scroll left top rgba(0, 0, 0, 0);
    width: 75px;
}
.newvd .fk-stars .rating {
    background: url("../images/landing-page/product_yellowstar-053162e0.png") repeat-x scroll left top rgba(0, 0, 0, 0);
}


.ratingCount{border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;}
	
.clinic-container strong{color:#333;}


.clinic-container{border: 1px solid #C5C5C5;
    float: left;
    height: auto;
    padding: 5px 20px 10px;
    width: 692px;
	background:#201300;
}

.clinic-container p{line-height:22px; float:left; padding:5px; font-size: 13px; margin:0px;}

.clinic-container h2{margin-top: 5px; font-size:18px; padding-bottom:15px; color:#ef443d;}

.profile-container-wrapper{
    border-right: 1px solid #C6C6C6;
    color: #818181;
    float: left;
    height: auto;
    line-height: 1.2;
    margin-right: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 320px;
}



.profile-container-wrapper-1{
    color: #818181;
    float: left;
    height: auto;
    line-height: 1.2;
    margin-right: 10px;
    overflow: hidden;
    padding-bottom:0px;
    padding-right: 10px;
    width: 320px;
	margin-left:0px;
}




.profile-container-wrapper-2{
    color: #818181;
    float: left;
    height: auto;
    line-height: 1.2;
    margin-right: 10px;
    overflow: hidden;
    padding-bottom:0px;
    padding-right: 10px;
    width: 320px;
}


.profile-container{
    color: #818181;
    float: left;
    height: auto;
    line-height: 1.2;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 288px;
}

.profile-container p{ text-align:justify;
   
}


.profile-container h1{
    color: #656766;
    font-size: 16px;
    height: 25px;
    line-height: 23px;
    margin: 0;
    padding: 0 0 0 0px;

}

.profile-container h1 a{color:#656766; margin:0px; padding:0px; text-decoration:none;}

.profile-container h1 a:hover{text-decoration:underline; color:#f00;}





.profile-container h2{ background: url("../HealthMoreImages/education-icon.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #656766;
    font-size: 16px;
    height: 25px;
    line-height: 23px;
    margin: 0;
    padding: 0 0 0 37px;
}

.profile-container h2 a{color:#656766; margin:0px; padding:0px; text-decoration:none;}

.profile-container h2 a:hover{text-decoration:underline; color:#f00;}






.profile-container h3{  background: url("../HealthMoreImages/specializations-icon.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #656766;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    padding: 0 0 0 31px;
	height:24px;
}

.profile-container h3 a{color:#656766; margin:0px; padding:0px; text-decoration:none;}

.profile-container h3 a:hover{text-decoration:underline; color:#f00;}
.profile-container span{color:#0099ff; padding-left:5px; font-weight:normal; font-size:14px;}

.profile-container h4{  background: url("../HealthMoreImages/exp-icon.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #656766;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    padding: 0 0 0 31px;
	width:21px;
	height:24px;
}

.profile-container h4 a{color:#656766; margin:0px; padding:0px; text-decoration:none;}

.profile-container h4 a:hover{text-decoration:underline; color:#900;}

.profile-container h5{  background: url("../HealthMoreImages/doctor-experience.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #656766;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 0 0 0 31px;
	
}

.profile-container h5 a{color:#656766; margin:0px; padding:0px; text-decoration:none;}

.profile-container h5 a:hover{text-decoration:underline; color:#900;}
.profile-container h5 span{color:#0099ff;}

.profile-container h6{  background: url("../HealthMoreImages/fee-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #656766;
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 2px 0 0 31px;
	
}

.profile-container h6 a{color:#656766; margin:0px; padding:0px; text-decoration:none;}

.profile-container h6 a:hover{text-decoration:underline; color:#900;}




.profile-container ul{width:260px;
margin:0px;
padding:15px;
color:#0099ff;
}
.profile-container ul li {padding:0px; width:250px; float:left; list-style-type:disc; margin:0px; font-size:13px; color:#0099ff;
}

.profile-container ul li a{text-decoration:none; color:#0099ff;}
.profile-container ul li a:hover{text-decoration:none; color:#f00;}



.top-name-location{background: url("../HealthMoreImages/loaction-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #E14C50;
    font-size: 18px;
    font-weight: bold;
    line-height: 10px;
    margin: 4px 0;
    padding: 5px 5px 9px 20px;
}



.top-name-timing-icon{background: url("../HealthMoreImages/timing-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #E14C50;
    font-size: 18px;
    font-weight: bold;
    line-height: 10px;
    margin: 4px 0;
    padding: 8px 5px 17px 33px;
}



.top-name-services{background: url("../HealthMoreImages/services-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #E14C50;
    font-size: 18px;
    font-weight: bold;
    line-height: 10px;
    margin: 4px 0;
    padding: 5px 5px 9px 30px;
}


.top-name-location span{color:#666; padding-left:2px; margin:0px; font-weight:normal;}

.clinic-timings-wrapper{color: #818181;
    float: left;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 200px;
	height:auto;
	margin-left:30px;}
	
	
.clinic-timings{float:left; width:200px;padding: 5px 5px 2px 0;}
.clinic-timings-session{float:left; width:200px;padding: 5px 5px 2px 0;}
.clinic-timings-day{width:200px; float:left; padding: 5px 5px 2px 0;}


.clinic-view-buttn{
border:1px solid #15aeec; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 8px 8px 8px 8px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #49c0f0; background-image: -webkit-gradient(linear, left top, left bottom, from(#49c0f0), to(#2CAFE3));
 background-image: -webkit-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -moz-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -ms-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: -o-linear-gradient(top, #49c0f0, #2CAFE3);
 background-image: linear-gradient(to bottom, #49c0f0, #2CAFE3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#49c0f0, endColorstr=#2CAFE3);
}

.clinic-view-buttn:hover{
 border:1px solid #1090c3;
 background-color: #1ab0ec; background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab0ec), to(#1a92c2));
 background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -moz-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -ms-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: -o-linear-gradient(top, #1ab0ec, #1a92c2);
 background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ab0ec, endColorstr=#1a92c2);
}


.clinic-timings-wrapper-right{color: #818181;
    float: left;
    height: auto;
    line-height: 1.2;
    margin: 40px 10px 10px 30px;
    width: 129px;}
	
	
	
.profile-container-exp{
   color: #818181;
    float: left;
    height: auto;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 35px;
    margin-right: 10px;
    margin-top: 10px;
    padding-bottom: 0;
    padding-right: 10px;
    width: 270px;
	
}

.profile-container-exp h4{ height:24px; background: url("../HealthMoreImages/exp-icon.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0); margin:0px; font-size:16px; padding:0px 0px 0px 30px; color:#656766;
}

.profile-container-exp h4 a{color:#656766; margin:0px; padding:0px; text-decoration:none;}

.profile-container-exp h4 a:hover{text-decoration:underline; color:#f00;}



.profile-container-exp h5{ height:24px; background: url("../HealthMoreImages/award-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); margin:0px; font-size:16px; padding:0px 0px 0px 30px; color:#656766;
}

.profile-container-exp h5 a{color:#656766; margin:0px; padding:0px; text-decoration:none;}

.profile-container-exp h5 a:hover{text-decoration:underline; color:#f00;}

.profile-container-exp ul{width:260px;
margin:0px;
padding:15px;
color:#0099ff;
}
.profile-container-exp ul li {padding:0px; width:250px; float:left; list-style-type:disc; margin:0px; font-size:13px; color:#0099ff;
}

.profile-container-exp ul li a{text-decoration:none; color:#0099ff;}
.profile-container-exp ul li a:hover{text-decoration:none; color:#f00;}

.td-txt-pad{padding:8px; font-size:13px;}
.td-txt-b-timing{ padding-left:10px; height:10px; font-size:13px; color:#FFF;}
.td-txt-c-timing{ padding-left:10px; height:10px; font-size:13px; color:#00000;}

.blue-td {
    background-color: #0099ff;
    color: #FFFFFF;
    padding: 5px;
	font-size:13px;
}


.map {
    float: left;
    margin: 0;
}
.box-img {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 3px #C5C2A9;
    display: inline-block;
    margin-top: 0px;
    padding: 10px;
}

/*review*/

/******* EXAMPLE C *******/

.rating-c .br-widget {
    height: 52px;
}

.rating-c .br-widget a {
    display: block;
    width: 17px;
    height: 16px;
    float: left;
	background:url(../imges/unselected.png); 
	background-repeat:no-repeat;
    margin: 2px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2;
    text-align: center;
    color: #b6b6b6;
}

.rating-c .br-widget a.br-active,
.rating-c .br-widget a.br-selected {
    	background:url(../imges/selected.png) no-repeat; 
		background-repeat:no-repeat;

    color: white;
}
/**/