@charset "utf-8";
/* CSS Document */
/*
 * Template Name: Unify - Responsive Bootstrap Template
 * Description: Business, Corporate, Portfolio, E-commerce, Blog and One Page Template.
 * Version: 1.9
 * Author: @htmlstream
 * Website: http://htmlstream.com
*/

/*Import Global Compulsory CSS Files*/
/*@import url(app.css);
@import url(blocks.css);
*/
/*Import CSS Plugins*/
/*@import url(plugins/style-switcher.css);
*/
* {
	border-radius: 0;
}
body {
	color: #fff;
	font-size: 13px;
	line-height: 1.6;
	background: #000;
	font-family: Arial, Helvetica, sans-serif;
}
body.header-fixed-space {
	padding-top: 94px;
}
body.header-fixed-space-v2 {
	padding-top: 135px;
}
 @media (max-width: 991px) {
body.header-fixed-space,  body.header-fixed-space-v2 {
	padding-top: 0;
}
}
p, li, li a, label {
	color: #fff;
}
a {
	color: #ff9900;
	text-decoration: none;
}
a, a:focus, a:hover, a:active, button, button:hover {
	outline: 0 !important;
}
a:focus {
	text-decoration: none;
}
a:hover {
	color: #ff9900 !important;
	text-decoration: underline;
}
/*Boxed Layout
------------------------------------*/
#main {
	background: #000;
}
#main_slider {
	
}
.boxed-layout {
	padding: 0;
	box-shadow: 0 0 5px #ccc;
	margin-left: auto !important;
	margin-right: auto !important;
	background: url(../img/patterns/15.png) repeat;
}

/*Hiding arrows for select field in IE*/
select::-ms-expand {
 display: none;
}
/*slider*/
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }


/*astro search page inner*/
.btn-primary {
    color: #fff;
    background-color: #ff9900;
    border-color: #ff9900;
}
.search {
    margin-top: -10%;
    margin-bottom: 7%;
}
.search .form-section {
	
}

.search1 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.form_border{
	background: rgba(0,0,0,0.6);
	border: 2px solid #414141;
	border-radius: 5px;
	padding: 10px;
}
.form-group-padding{
	margin-bottom: 0px;
	margin-top: 0px;
}
/*astro search page inner*/



.formresize {
	position: absolute;
	display: table;
	border-collapse: separate;
	top: 180px;
	left: 127px;
	z-index: 1002;
}
.form_style {
	height: 46px
}
.btn_color {
	color: #fff;
	background-color: #ff9900;
	border-color: #ff9900;
}
.btn-default:hover {
	color: #333;
	background-color: #ff9900;
	border-color: #ff9900;
}
.btn-lg, .btn-group-lg > .btn {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
	border-radius: 6px;
}
.for_size {
	padding: 22px 12px !important;
}
/*search*/
.ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
	position: relative;
	padding-left: 4.07142857em!important;
	padding-right: 1.5em!important;
}
.ui.icon.button, .ui.icon.buttons .button {
	padding: .78571429em;
}
.ui.dropdown {
	cursor: pointer;
	position: relative;
	display: inline-block;
	outline: 0;
	text-align: left;
	-webkit-transition: box-shadow .1s ease, width .1s ease;
	transition: box-shadow .1s ease, width .1s ease;
	-webkit-tap-highlight-color: transparent;
}
.ui.button, .ui.buttons .button, .ui.buttons .or {
	font-size: 1rem;
}
/*search*/
.sectin_par {
	font-family: ronnia;
	font-size: 13px;
	margin: 17px -68px 10px;
}
.clearfix {
	clear: both !important;
}
#sevice_section {
	margin-top: -50px;
	margin-bottom: 50px
}
.box112 {
	padding: 20px;
}
.head_ing {
	font-family: Ronnia;
	font-size: 30px;
	padding-bottom: 25px;
	color: #ff9900;
}
.horocolor_pargra {
	font-size: 12px;
	margin:0px;
	color: #fff;
}
.horocolor_pargra:hover {
	color: #ff9900;
}
.img_horoscope{
	float:left;
}
.para_horoscope{
	float:left;
}
.col-md-1 a hover {
	text-decoration: none
}
.textde a:hover {
	text-decoration: none !important;
}
.btn:hover {
	color: #FFF;
	text-decoration: none;
}
.btn1:hover {
	color: #000;
	text-decoration: none;
}
.search_index {
	background: #000;
	text-align: center;
	margin: 5px 0px;
}
.for_sty {
	background: #e6e6e6;
	padding: 10px 10px;
	border-radius: 5px;
	border: 3px solid #ff9900;
}
.back_color {
	background: #ff9900;
}
.a_color {
	color: #fff !important;
}
.navbar-inverse {
	background-color: #ff9900;
}
.navbar-inverse .navbar-brand:hover {
	color: #fff !important;
	background-color: transparent;
}
.navbar-inverse .navbar-brand {
	color: #ffffff;
}
.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
}
.nav>li>a:hover {
	text-decoration: none;
	background-color: #fff !important;
}
.servi {
	background: #201300;
	padding: 20px;
	border-radius: 5px;
}
.list-inline>li {
	display: inline-block;
	padding-right: 0px;
	padding-left: 0px;
}
.btn-danger:hover {
	color: #ff9900;
	background-color: #fff;
	border-color: #ff9900;
}
.btn-danger {
	color: #fff;
	background-color: #ff9900;
	border-color: #ff9900;
}
.box1 {
	border-bottom: 2px dashed #633a00;
	margin: 40px 0px;
}
/*Thumbnails
------------------------------------*/
/*Others
------------------------------------*/
.overflow-h {
	overflow: hidden;
}
.overflow-a {
	overflow: auto;
}
.overflow-hidden {
	overflow: hidden;
}
/*CSS3 Hover Effects*/
.hover-effect {
	transition: all 0.4s ease-in-out;
}
.hover-effect-kenburn {
	left: 10px;
	margin-left: -10px;
	position: relative;
	transition: all 0.8s ease-in-out;
}
.hover-effect-kenburn:hover {
	transform: scale(2) rotate(5deg);
}
/*Thumbnails
------------------------------------*/
a.thumbnail {
	padding: 0;
	border: none;
	margin-bottom: 15px;
}
.thumbnail-style {
	padding: 7px;
	margin-bottom: 20px;
	box-shadow: 0 0 1px #f3ddbc;
}
.thumbnail-style {
	padding: 7px;
	margin-bottom: 0px;
	box-shadow: 0 0 1px #f3ddbc;
}
.thumbnail-styl:hover {
	box-shadow: 0 0 8px #ddd;
	transition: box-shadow 0.2s ease-in-out;
}
.thumbnail h3, .thumbnail-style h3 {
	margin: 6px 0 8px 0;
}
.thumbnail h3 a, .thumbnail-style h3 a {
	color: #fff;
	font-size: 22px;
	font-family: Ronnia;
	margin-left: 5px;
}
.thumbnail h3 a:hover, .thumbnail-style h3 a:hover {
	color: #72c02c;
	text-decoration: none;
}
.thumbnail-style .thumbnail-img {
	position: relative;
	margin-bottom: 11px;
}
.thumbnail-style a.btn-more {
	right: -10px;
	bottom: 10px;
	color: #000;
	padding: 1px 6px;
	position: absolute;
	background: #f3ddbc;
	display: inline-block;
}
.thumbnail-style a.btn-more:hover {
	text-decoration: none;
	box-shadow: 0 0 0 2px #ff9900;
}
.thumbnail-style:hover a.btn-more {
	right: 10px;
}
.thumbnail-kenburn img {
	left: 10px;
	margin-left: -10px;
	position: relative;
	transition: all 0.8s ease-in-out;
}
.thumbnail-kenburn:hover img {
	transform: scale(1.2) rotate(2deg);
}
/*Thumbnails
------------------------------------*/
.img_size {
	float: left;
	margin: 5px;
}
.margin_para {
	text-align: center;
	margin: 5px 0px;
}
.btn_size {
	margin: 10px 0px;
}
.thumbnail_heading {
	color: #ff9900 !important;
}
.section_margin {
	margin: 27px 0px 0px !important;
}
.form_padding {
	padding: 25px 0px;
}
/*pooja section---*/
 
.puja_box {
	width: 20%;
	float: left
}
.puja_box1 {
	width: 60%;
	float: left;
}
.puja_box1 p {
	color: #fff;
	font-size: 14px;
	margin-left: 20px
}
.puja_box3 {
	width: 20%;
	float: right;
	color: #000;
	font-size: 12px;
}
.puja_box3 p {
	color: #fff;
	text-align: center;
}
.puja_box4 p {
	color: #fff;
	text-align: center;
	background: #ff9900;
	border-radius: 4px;
}

 /*pooja section---*/
 
 /*top astrologer*/
.Top_Astrologer{
	margin:0px 40px;
}
.img_width{
	width:120px
}
/*Astrologer inner page*/
.span_color{
	color:#ff9900;
	font-size:16px
}
.service_color{
	color:#ff9900;
	font-size:14px
}
.social_margin{
	margin:10px 2px;
}
.link_color{
	color:#000;
}
.btn_back{
	background:#ff9900;
}
.box1 {
	border-bottom: 1px dashed #3c2607;
	margin: 40px 0px;
}
/*Astrologer inner page*/

.breadcrumb {
    padding: 8px 40px;
    margin-bottom: 0px;
    list-style: none;
    background-color: #000;
    border-radius: 4px;
}
.breadcrumbs {
    overflow: hidden;
    padding: 0px 0 0px;
    border-bottom: solid 1px #eee;
}
.breadcrumbs h1 {
    color: #ff9900;
    font-size: 22px;
    margin-top: 8px;
}
.breadcrumb li.active, .breadcrumb li a:hover {
    color: #ff9900;
    text-decoration: none;
}
.breadcrumb>.active {
    color: #ff9900;
}
.profile.profile-blog img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.profile.name-location span i {
    color: #72c02c;
    font-size: 18px;
    margin-right: 5px;
}
.rounded-x {
    border-radius: 50% !important;
}


.profile .name-location strong {
    color: #fff;
    display: block;
    font-size: 16px;
}
.label-color{

}




<!--Registration section-->


#enquirypopup .modal-dialog {
    width: 400px;
    padding: 0px ;
    position: relative;
}

#enquirypopup .modal-dialog {
    width: 400px;
    padding: 0px ;
    position: relative;
}
#enquirypopup .modal-dialog:before {
    content: '';
    height: 0px;
    width: 0px;
    border-left: 50px solid #17B6BB;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 1px;
    left: -14px;
    z-index: 99;
}

.custom-modal-header {
    text-align: center;
    color: #17b6bb;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-top: 4px solid;
}

#enquirypopup .modal-dialog .close {
    z-index: 99999999;
    color: white;
    text-shadow: 0px 0px 0px;
    font-weight: normal;
    top: 4px;
    right: 6px;
    position: absolute;
    opacity: 1;
}

.custom-modal-header .modal-title {
    /* font-weight: bold; */
    font-size: 18px;
}

#enquirypopup .modal-dialog:after {
    content: '';
    height: 0px;
    width: 0px;
    /* border-right: 50px solid rgba(255, 0, 0, 0.98); */
    border-right: 50px solid #17b6bb;
    border-bottom: 50px solid transparent;
    position: absolute;
    top: 1px;
    right: -14px;
    z-index: 999999;
}

.form-group {
    margin-bottom: 15px !important;
}

.form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
<!--Registration section-->



/*--------------------------------------------------
  Registration and Login Page v3
----------------------------------------------------*/
.space-xlg-hor {
	padding-right: 115px;
	padding-left: 115px;
}
.margin-bottom-70 {
	margin-bottom: 70px;
}

/* Header and footer */
.header-v6 {
	font-family: arial;
}

.footer-v1 .footer,
.footer-v1 .copyright {
	line-height: 24px;
  background: #223539;
}

.footer-v1 .copyright {
	opacity: .98;
}

.footer-v1 .latest-list small {
	color: rgba(255,255,255,.6);
}

.footer-v1 .link-list li,
.footer-v1 .latest-list li {
	border-color: rgba(255,255,255,.1);
}

.footer-v1 .footer-socials li a{
	color: rgba(255,255,255,.6);
}

/* The login and registration form wrapper */
.forms-wrapper {
	min-height: 750px;
	position: relative;
	z-index: 1;
}
.forms-wrapper:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	content: "";
	background: rgba(34,53,57,.8);
}
.head {
	text-align: center;
}
.head h1,
.head p {
	color: #fff;
}
.head h1 {
	font-size: 38px;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 60px;
	position: relative;
	line-height: 45px;
}
.head h1:after {
	position: absolute;
	content: "";
	bottom:-25px;
	left: 50%;
	width: 30px;
	height: 2px;
	background: #fff;
	margin-left: -15px;
}
.head p {
	font-size: 16px;
	max-width: 65%;
	margin: 0 auto;
	opacity: 0.8;
	line-height: 1.5;
}

/* The form block of both forms */
.form-block {
	padding: 0px 75px;
	margin: 5px auto;
	background: #fff;
	border-top: none !important;
}

/* Form Header */
.form-block-header h2 {
	font-size: 18px;
	font-weight: 400;
}

/* Input fields */
.form-block .input-group input.form-control {
	background: transparent;
	border-left: none;
	height: 45px;
}

/* Input fields icons */
.form-block .input-group-addon {
	background: transparent;
	padding-right: 0;
}
.form-block .input-group-addon i {
	font-size: 14px;
	position: relative;
	top: 1px;
}
.form-block .form-control:focus {
	box-shadow: none;
	border-color: #999;
}

/* Buttons */
.form-block button:focus {
  color: #fff;
}
.form-block .btn-u,
.form-block .btn {
	text-transform: uppercase;
	font-size: 14px;
	padding-top: 12px;
	padding-bottom: 12px;
}

/* Login form */
.login-block {
	background: #69c4c7;
	border-radius: 5px;
}
.login-block h2 {
	color: #fff;
}

/* Input fields */
.login-block .input-group input.form-control {
	border-color: rgba(255,255,255,0.7);
	border-left: none;
	color: #fff;
}

/* Input fields icons */
.login-block .input-group-addon {
	color: #fff;
	background: transparent;
	border-color: rgba(255,255,255,0.7);
}

/* Placeholder */
.login-block ::-webkit-input-placeholder {
  color: #fff;
}
.login-block ::-moz-placeholder {
  color: #fff;
}
.login-block :-ms-input-placeholder {
  color: #fff;
}

.reg-block ::-webkit-input-placeholder {
  color: #aaa;
}
.reg-block ::-moz-placeholder {
  color: #aaa;
}
.reg-block :-ms-input-placeholder {
  color: #aaa;
}

/* Social buttons */
.login-block .social-login {
	padding-top: 70px;
	border-top: 1px solid #fff;
	position: relative;
}
.login-block .or {
	position: absolute;
	border: 1px solid #fff;
	width: 70px;
	height: 70px;
	top: -35px;
	left: 50%;
	margin-left: -35px;
	text-transform: uppercase;
	color: #fff;
	background: #69c4c7;
	line-height: 70px;
	padding: 0 24px;
	z-index: 1;
}
.login-block .btn {
	line-height: 22px;
}
.login-block .btn .fa {
	font-size: 16px;
	margin-right: 10px;
}
.btn-twitter-inversed {
	background: #46afe5;
}
.login-block .btn.btn-twitter-inversed .fa {
	margin-right: 20px;
}
.btn-facebook-inversed:hover {
  background: #2d4682;
  border-color: #2d4682;
  color: #fff;
}
.btn-twitter-inversed:hover {
  background: #3693c3;
  border-color: #3693c3;
  color: #fff;
}

/* Registration form */
.reg-block h2 {
	color: #000;
}
.reg-block p {
	color: #969595;
	text-align: left;
}

/* Input fields */
.reg-block .input-group input.form-control {
	border-color: rgba(214,214,214,0.5);
	border-left: none;
	color: #969595;
}

/* Input fields icons */
.reg-block .input-group-addon {
	color: rgba(0,0,0,.2);
	background: transparent;
	border-color: rgba(214,214,214,.5);
}

/* Checkbox */
.reg-block .checkbox label {
	display: list-item;
	list-style: none;
	max-width: 210px;
}

.reg-block .checkbox p {
	font-size: 13px;
	font-weight: 400;
}

/* Responsive */
@media (max-width: 1200px) {
	.space-xlg-hor {
		padding-right: 100px;
		padding-left: 100px;
	}
	.form-block {
		padding: 55px;
	}
}

@media (max-width: 992px) {
	.header-v6 {
		background: #fff;
	}
	.form-block {
		border-radius: 4px !important;
	}
}

@media (max-width: 768px) {
	.space-xlg-hor {
		padding-right: 50px;
		padding-left: 50px;
	}
	.form-block {
		min-width: 350px;
	}
}

@media (max-width: 446px) {
	.space-xlg-hor {
		padding-right: 0;
		padding-left: 0;
	}
}

.footer .form-control {
	border-color: #fff;
	height: 32px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.footer .btn-u {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.form-block .btn-u, .form-block .btn {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.btn-u:hover, .btn-u:focus, .btn-u:active, .btn-u.active, .open .dropdown-toggle.btn-u {
    background: #5fb611;
}
.btn-u.btn-block {
    text-align: center;
}
.btn-u:hover {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.login-block .or {
    position: absolute;
    border: 1px solid #fff;
    width: 70px;
    height: 70px;
    top: -35px;
    left: 50%;
    margin-left: -35px;
    text-transform: uppercase;
    color: #fff;
    background: #69c4c7;
    line-height: 70px;
    padding: 0 24px;
    z-index: 1;
}
.rounded-x {
    border-radius: 50% !important;
}





.reg-block h2 {
    color: #000;
}
.form-block-header h2 {
    font-size: 18px;
    font-weight: 400;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
* Registration form */
.reg-block h2 {
	color: #000;
}
.reg-block p {
	color: #969595;
	text-align: left;
}

/* Input fields */
.reg-block .input-group input.form-control {
	border-color: rgba(214,214,214,0.5);
	border-left: none;
	color: #969595;
}

/* Input fields icons */
.reg-block .input-group-addon {
	color: rgba(0,0,0,.2);
	background: transparent;
	border-color: rgba(214,214,214,.5);
}

/* Checkbox */
.reg-block .checkbox label {
	display: list-item;
	list-style: none;
	max-width: 210px;
}

.reg-block .checkbox p {
	font-size: 13px;
	font-weight: 400;
}








.breadcrumbs-v3.img-v2 {
    background:url(../imges/about-us.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.content {
    padding-top: 40px;
    padding-bottom: 40px;
}
.breadcrumbs-v3.img-v2 {
    background:url(../imges/astrologer.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
	
}

.breadcrumbs-v3.img-v1 {
    background:url(../imges/palmistry.jpg) no-repeat;
    background-size: cover;
    background-position: center center;

}
.breadcrumbs-v3.img-v3 {
    background:url(../imges/numerologist.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.breadcrumbs-v3.img-v4 {
    background:url(../imges/tarrot-card.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.breadcrumbs-v3.img-v5 {
    background:url(../imges/vastu-consultant.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.breadcrumbs-v3.img-v6 {
    background:url(../imges/pandit.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}
.breadcrumbs-v3 {
    z-index: 1;
    padding: 100px 0;
    position: relative;
	background-color: rgba(0, 0, 0, 0.40);
	
}

.breadcrumbs-v1, .breadcrumbs-v3 {
    transition: all 0.8s ease-in-out;
}
.text-center {
    text-align: center;
}
.content {
    padding-top: 40px;
    padding-bottom: 0px !important;
}
/*inner section*/
.headin_link{
	border-bottom:1px dotted #999;
}
.headin_size{
    margin-top: 30px;
	font-size:14px;
}

.headin_size a{
	 color:#FFF !important;
}
.headin_size a:hover{
	 color:#ff9900 !important;
	 text-decoration:none;
}
.gap-right {
  margin-right: 20px;
  margin-bottom:10px;
}
.gap-top{
	margin-top:20px;
	
}
.p_text{
	font-size:14px;
	color:#ff9900;
	text-transform:uppercase;
}
/*inner section*/