/*Common*/
.spacer{
    display: block;
    overflow: hidden;
}
.spacer-10{
    height: 10px;
}
.spacer-20{
    height: 20px;
}
.spacer-30{
     height: 30px;
 }
.display-none{
    display: none;
}
.cursor{
    cursor: pointer;
}
.nav-btn{
    border: 1px solid #FFFFFF;
    padding: 8px 15px !important;
    border-radius: 0.2em;
    margin: 11px 15px !important;
    background-color: transparent;
}
.nav-btn:hover{
    border: 1px solid #fff !important;
    background-color: #fff !important;
    color:#666 !important;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.horoscope-nave:after{
    background: rgba(0,0,0,0.3);
}

.table thead th{
    text-transform: uppercase;
    font-size:1.2em;
    font-weight: 600;
    color:#777;
}
.table tr td{
    font-size: 1.1em;
    font-weight: 400;
}
.api-demo-desc{
    font-size: 1.2em;
    line-height: 30px;
    color: #555;
}
.se-pre-con {
    position: fixed;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url(../loader.gif) center no-repeat #fff;
}
/*My Form*/
.myForm{
    margin: 10px auto;
}
.myForm input[type='text'],
.myForm input[type='email'],
.myForm select,
.myForm input[type='password']{
    width: 100%;
    height: 50px;
    padding: 0 15px;
    max-width: 100%;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    box-shadow: none !important;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.myForm input[type='submit']{
    height: 48px;
}
.myForm textarea{
    background-color: #FFFFFF;
    box-shadow: none !important;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.myForm label{
    color: #717171;
    font-size: 1.1em !important;
    line-height: 1.5;
    font-weight: 400;
}
.header{
    height:200px;
    background: #e079fc;
    background: -moz-linear-gradient(-45deg, #e079fc 0%, #7c44ff 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #e079fc), color-stop(100%, #7c44ff));
    background: -webkit-linear-gradient(-45deg, #e079fc 0%, #7c44ff 100%);
    background: -o-linear-gradient(-45deg, #e079fc 0%, #7c44ff 100%);
    background: -ms-linear-gradient(-45deg, #e079fc 0%, #7c44ff 100%);
    background: linear-gradient(135deg, #e079fc 0%, #7c44ff 100%);
    /* border-color: #1976D2; */
    -webkit-box-shadow: 0px 1px 5px 0px rgba(100,100,100,.3);
    -moz-box-shadow: 0px 1px 5px 0px rgba(100,100,100,.3);
    box-shadow: 0px 1px 5px 0px rgba(100,100,100,.3);
}
header .navbar-inverse{
    background: transparent !important;
    box-shadow: none !important;
}
.myForm input:not([type="submit"]):hover,
.myForm textarea:hover{
    border-color: #cad1d9 !important;
}
.myForm input[type='text'],
.myForm input[type='email'],
.myForm input[type='password'],
.myForm select,
.myForm textarea
{
    border-radius: 0.3em !important;
}
.myForm textarea:not([type="submit"]):active,
.myForm input:not([type="submit"]):focus,
.myForm input:not([type="submit"]):active,
.myForm textarea:active,
.myForm textarea:focus{
    border-color: #88d3ff !important;
    background-color: #FFFFFF;
}
.myForm textarea
{
    height: 10rem;
}

.myForm ::-moz-placeholder
{
    color: #717171;
}
.myForm :-ms-input-placeholder{
    color: #717171;
}
.myForm ::-webkit-input-placeholder{
    color: #717171;
}
.myForm :-moz-placeholder{
    color: #717171;
}
.myForm h1{
    color: #666666;
}
.full-width{
    width: 100%;
    display: block;
}
/*Custom button*/
.button {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 10px;
    /*line-height: 20px;*/
    -webkit-transition: color 0.25s, background 0.25s;
    -moz-transition: color 0.25s, background 0.25s;
    -o-transition: color 0.25s, background 0.25s;
    transition: color 0.25s, background 0.25s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 30px !important;
    color: #ffffff;
    font-size: 22px !important;
    font-weight: 300;

}
.button:hover,
.button-clear:hover{
    opacity: 0.7;
}
.button:focus{
    outline: none !important;
}

.button.button-clear {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent !important;
    border: 1px solid #e5e5e5;
    color: #717171;
}
.button.button-gradient-border {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent !important;
    border: 2px solid #7c44ff;
    color: #717171;
}
.button-fill-orange{
    border: 1px solid #ff6908;
    background: #ff6908;
}
.button-clear-blue{
    border: 1px solid #00c6ff !important;
    color: #fff !important;
}
.button.button-clear-blue:hover, .content-24 .button.button-clear-blue:focus {
    background: #00c6ff !important;
    color: #ffffff;
}
.button-clear-white{
    border: 1px solid #f6f6f6 !important;
    color: #fff !important;
}
.button.button-clear:hover, .content-24 .button.button-clear:focus {
    background: #2ecc71;
}
.button.button-clear-white:hover, .button.button-clear-white:focus {
    color: #666!important;
    background-color: #FFFDFD;
}
.demo-error{
    color: rgb(244, 82, 82) !important;
    /*position: absolute;*/
}
.demo-success{
    color: rgb(37, 134, 20) !important;
    /*position: absolute;*/
}
.button-white {
    background-color: #ffffff;
    border:1px solid  #ffffff;
}
.button-black {
    background-color: #000000;
    border:1px solid  #000000;
}
.button-turquoise {
    background-color: #1abc9c;
    border:1px solid  #1abc9c;
}
.button-green-sea {
    background-color: #16a085;
    border:1px solid  #16a085;
}
.button-emerland {
    background-color: #2ecc71;
    border:1px solid  #2ecc71;
}
.button-nephritis {
    background-color: #27ae60;
    border:1px solid  #27ae60;
}
.button-gradient{
    background-color: #B060FD;
    border: 1px solid #7c44ff;
    font-family: Open Sans;
    background: #e079fc;
    font-weight: 400;
    background: -moz-linear-gradient(-45deg, #e079fc 0%, #7c44ff 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #e079fc), color-stop(100%, #7c44ff));
    background: -webkit-linear-gradient(-45deg, #e079fc 0%, #7c44ff 100%);
    background: -o-linear-gradient(-45deg, #e079fc 0%, #7c44ff 100%);
    background: -ms-linear-gradient(-45deg, #e079fc 0%, #7c44ff 100%);
    background: linear-gradient(135deg, #e079fc 0%, #7c44ff 100%);
}
.button-peter-river {
    background-color: #3498db;
    border:1px solid  #3498db;
}
.button-belize-hole {
    background-color: #2980b9;
    border:1px solid  #2980b9;
}
.button-amethyst {
    background-color: #9b59b6;
    border:1px solid  #9b59b6;
}
.button-wisteria {
    background-color: #8e44ad;
    border:1px solid  #8e44ad;
}
.button-wet-asphalt {
    background-color: #34495e;
    border:1px solid  #34495e;
}
.button-midnight-blue {
    background-color: #2c3e50;
    border:1px solid  #2c3e50;
}
.button-sun-flower {
    background-color: #f1c40f;
    border:1px solid  #f1c40f;
}
.button-orange {
    background-color: #f39c12;
    border:1px solid  #f39c12;
}
.button-carrot {
    background-color: #e67e22;
    border:1px solid  #e67e22;
}
.button-pumpkin {
    background-color: #d35400;
    border:1px solid  #d35400;
}
.button-alizarin {
    background-color: #e74c3c;
    border:1px solid  #e74c3c;
}
.button-pomegranate {
    background-color: #c0392b;
    border:1px solid  #c0392b;
}
.button-clouds {
    background-color: #ecf0f1;
    border:1px solid  #ecf0f1;
}
.button-silver {
    background-color: #bdc3c7;
    border:1px solid  #bdc3c7;
}
.button-concrete {
    background-color: #95a5a6;
    border:1px solid  #95a5a6;
}
.button-asbestos {
    background-color: #7f8c8d;
    border:1px solid  #7f8c8d;
}
.button-base {
    background-color: #34495e;
    border:1px solid  #34495e;
}
.button-firm {
    background-color: #1abc9c;
    border:1px solid  #1abc9c;
}
.button-success {
    background-color: #2ecc71;
    border:1px solid  #2ecc71;
}
.button-danger {
    background-color: #e74c3c;
    border:1px solid  #e74c3c;
}
.button-warning {
    background-color: #f1c40f;
    border:1px solid  #f1c40f;
}
.button-info {
    background-color: #3498db;
    border:1px solid  #3498db;
}

/*Form Page*/
.form-wrapper{
    padding: 0 0 100px 0;
    margin: 100px 0;
}
.intro-header{
    background: #e079fc;
    background: -moz-linear-gradient(-45deg, #e079fc 0%, #7c44ff 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #e079fc), color-stop(100%, #7c44ff));
    background: -webkit-linear-gradient(-45deg, #e079fc 0%, #7c44ff 100%);
    background: -o-linear-gradient(-45deg, #e079fc 0%, #7c44ff 100%);
    background: -ms-linear-gradient(-45deg, #e079fc 0%, #7c44ff 100%);
    background: linear-gradient(135deg, #e079fc 0%, #7c44ff 100%);
     border-color: #1976D2;
    /*-webkit-box-shadow: 0px 1px 5px 0px rgba(100,100,100,.3);
    -moz-box-shadow: 0px 1px 5px 0px rgba(100,100,100,.3);
    box-shadow: 0px 1px 5px 0px rgba(100,100,100,.3);*/
}
/*Footer*/
footer{
    position: relative;
    bottom: 0;
    border-top: 1px solid #e3e3e3;
    width: 100%;
    padding: 15px;
    height: 100px;
    background-color: #f5f5f5;
}
.footer-container ul{
    margin: 0 auto;
    padding: 0;
    width: 400px;
}
.footer-container ul li{
    list-style: none;
    line-height: 2;
    float: left;
    margin: 10px;
}
.footer-container p{
    width: 400px;
    margin: 0 auto;
}