/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
    /*background-color: #222;*/
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}


/*Separator*/
.separator{
    width: 400px;
    position: relative;
    margin: 15px auto;
}
.separator:after{
    content: "";
    width: 200px;
    position: absolute;
    border: 1px solid #e3e3e3;
    float: left;
    left: -10px;
    margin: 10px 0;
}
.separator:before{
    content: "";
    width: 200px;
    position: absolute;
    border: 1px solid #e3e3e3;
    right: -10px;
    margin: 10px 0;
}
#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    margin-top: 140px;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #page-wrapper {
        padding: 10px;
        margin-top: 80px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #ffffff !important;
    font-weight: 600;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #0288D1;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 61px;
        left: 225px;
        width: 250px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
        border-right: 1px solid #e5e5e5;
        /*background: #FF8F5E;*/
        background: #ffffff;
    }
    .navbar-inverse .navbar-nav > li > a {
       /* color: #666666 !important*/
    }
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
        color: #5cb85c !important;
        font-size: 1.2em;
        background: #fff !important;
        border-right: 2px solid #5cb85c;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #555;
        font-size: 1.2em;
    }
    .side-nav>li>a {
        width: 250px;
    }

    .navbar-inverse li a:hover,
    .navbar-inverse li a:focus,
    .navbar-inverse li a:active{
        color: #FF8F5E !important;
        background: transparent;
    }
    .side-nav>li>ul>li>a.active {
        color: #5cb85c !important;
        font-size: 1.2em;
        background: #fff !important;
        border-right: 2px solid #5cb85c;
    }
    .side-nav::-webkit-scrollbar
    {
        width: 6px;  /* for vertical scrollbars */
        height: 6px; /* for horizontal scrollbars */
    }
    .side-nav::-webkit-scrollbar-track
    {
        background: rgba(0, 0, 0, 0.1);
    }

    .side-nav::-webkit-scrollbar-thumb
    {
        background: rgba(0, 0, 0, 0.15);
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    font-size: 1.2em;
    color: #555;
}

.side-nav>li>ul>li>a:hover {
    color: #5cb85c !important;
    background: #fff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.side-nav>li>ul>li>a.active {
    background-color: #FFFFFF;
    color: #fff;
}
/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}