/*@@@
@Author :Vedic Rishi Astro PVT LTD
@Date : 27 aug 2015
*/

.UI-II{
    display: block;
    padding: 10px;
    overflow: hidden;
    margin-bottom:30px;
    webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
.UI-II.dark{
    background: #f8f8f8;
}
.UI-II.dark-I{
    background: #00b266;
    color: #fff;
}
.UI-II h2{
    font-size: 2em;
    color: #555;
    font-weight: 400;
    padding-bottom: 10px;
    margin: 0 0 15px;
    border-bottom: 1px solid #e5e5e5;
}
.UI-II p{
    font-size: 1.2em;
    line-height: 35px;
}
.UI-II b,
.UI-II strong{
    font-weight: 600;
}
.UI-III h3{
    font-size: 25px;
    padding-bottom: 10px;
    color: #555;
    font-weight: 400;
}

.male{
    color: #076dca !important;
}
.female{
    color: #ee4376 !important;
}
.text-primary {
    color: #337ab7 !important;
}
a.text-primary:hover {
    color: #286090 !important;
}
.text-success {
    color: #3c763d !important;
}
a.text-success:hover {
    color: #2b542c !important;
}
.text-info {
    color: #31708f !important;
}
a.text-info:hover {
    color: #245269 !important;
}
.text-warning {
    color: #8a6d3b !important;
}
a.text-warning:hover {
    color: #66512c !important;
}
.text-danger {
    color: #a94442 !important;
}
a.text-danger:hover {
    color: #843534 !important;
}
.text-muted {
    color: #777 !important;
}
.card__button {
    outline: none;
    position: relative;
    display: inline-block;
    line-height: 38px;
    padding: 0 16px;
    color: #444;
    border-radius: 0.4em;
    border: none;
    background: transparent;
}
.btn-brand-accent {
    background-color: rgba(154,154,154,.18);
    box-shadow: none;
    /* margin: 5px 3px 5px 0; */
    display: inline-block;
    padding: 0px 8px;
    margin: 3px 3px;
    background: #f8f8f8;
    background: rgba(80,129,171,.2);
    color: #5081AB;
    border-radius: 2px;
    -webkit-transition: background 500ms ease-out;
    transition: background 500ms ease-out;
    -webkit-transition: color 100ms ease-out;
    transition: color 100ms ease-out;
}
.card__button:hover{
    background: #005da5;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.spacer-40 {
    height: 40px;
    display: block;
    overflow: hidden;
}
.ashtakoot-table-container thead tr th,
.table-container thead tr th{
    background: #1E8BC3;
    height: 50px;
    color: #fff;
    padding: 0 7px;
    font-size: 1.1em;
    font-weight: normal;
    margin: 20px 0 0;
    border-right: 1px solid #91A4DD;
}
.ashtakoot-table-container tr td,
.table-container tr td{
    border: 1px solid #e3e3e3;
    padding: 15px 7px;
}
.ashtakoot-table-container tr .dark-td,
.table-container tr .dark-td{
    color: #F29645;
    font-weight: bold;
    letter-spacing: 1px;
}
.ashtakoot-table-container table ,
.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.ashtakoot-conclusion .ashtakoot-conculsion-status
{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: #f4f4f4;
    text-align: center;
    line-height: 2em;
    border: 4px double #d3d3d3;
    font-size: 3.5em;

}
.status-false{
    color: #F12626;
}
.status-true{
    color: #18DF66;
}
.ashtakoot-conclusion .ashtakoot-conculsion-report
{
    line-height: 2em;
    color: #565656;
    font-weight: normal;
}

.ashtakoot-table-container thead tr th,
.table-container thead tr th{
    background: #1E8BC3;
    height: 50px;
    color: #fff;
    padding: 0 7px;
    font-size: 1.1em;
    font-weight: normal;
    margin: 20px 0 0;
    border-right: 1px solid #91A4DD;
}

.ashtakoot-table-container tr td,
.table-container tr td{
    border: 1px solid #e3e3e3;
    padding: 15px 7px;
}
.ashtakoot-table-container tr .dark-td,
.table-container tr .dark-td{
    color: #E67E22;
}
.ashtakoot-table-container table ,
.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.zero-padding{
    padding:0 !important;
}
.zero-margin{
    margin:0 !important;
}
/*circle*/
.circleshape {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    line-height: 2.8;
    background-color: #00bbdd;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*circle  content*/
.circon{
    font-size: 2.5em !important;
    line-height: 2.5em !important;
    color: #fff;
}

/*circle  content*/
.circon1{
    font-size: 50px !important;
    padding-top: 15%;
    color: #fff;
    line-height: 1.4 !important;
}

/*Table*//*
table, td, th {
    border: 1px solid #000000;
    width: 100%;
    margin-top: 30px;
}

th {
    background-color: #00bbdd;
    color: white;
    font-size: 1.4em;
}
td {
    background-color: #ffffff;
    color: white;
    font-size: 1.4em;
}*/

/*Matching making report*/
.ashtakoot-conculsion-report
{
    line-height: 2em;
    color: #565656;
    font-weight: normal;
}

.match-making-report{
    background: #fff;
    height: auto;
}
.grid {
}
.grid-col-1{
    width: 50%;
    float: left;
    padding: 15px 0;
}
.match-making-report .blocks{
    width: 90%;
    margin: 0 auto;
    padding: 35px 0;
    height: 150px;
    font-size: 1.2em;
    border-radius: 0.5em;
}
.blocks.ashtakoot{
    background: #00c6ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.blocks.manglik{
    background: #f857a6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f857a6 , #ff5858); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f857a6 , #ff5858); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.blocks.vedh{
    background: #1D976C; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1D976C , #93F9B9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1D976C , #93F9B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.blocks.rajjuu{

    background: #50C9C3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #50C9C3 , #96DEDA); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #50C9C3 , #96DEDA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.blocks .circles{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    line-height: 2.2em;
    border: 1px solid #FFFFFF;
    font-size: 1.5em;
    color: #18DF66;
}

.blocks .ashtakoot-points,
.blocks .manglik-pointss,
.blocks .rajjo-points,
.blocks .vedh-points{
    font-size: 1.6em;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    line-height: 1.4em;
}
.blocks h3{
    color: #ffffff;
    font-size: 1.5em;
    padding: 0;
    font-weight: 400;
    margin: 0;
}
.blocks p{
    word-break: break-word;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}

/*@@@ Match Manglik Report
*/
.ashtakoot-conculsion-report
{
    line-height: 2em;
    color: #565656;
    font-weight: normal;
}

.match-making-report{
    height: auto;
    overflow: hidden;
    padding: 15px;
}
.grid {
    display: block;
    overflow: hidden;
    height: auto;
}
.grid-col-2{
    width: 20%;
    float: left;
    padding: 15px 0;
}
.grid-col-10{
    width: 80%;
    float: left;
    padding: 15px 0;
}
.grid-col-12{
    width: 100%;
}
.match-making-report .blocks{
}
.blocks .circles{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    text-align: center;
    line-height: 3.6em;
    border: 5px solid #bdc3c7;
    font-size: 2em;
    color: #4FDB96;
}
.manglik-points{
    margin: 10px 0;
}
.manglik-points p{
    color: #878787;
    line-height: 1.7em;
}
.mannglik-report-h3{
    color: #565656 !important;
    font-size: 1.3em !important;
    font-weight: 400 !important;
    margin: 0 !important;
    padding-bottom: 10px !important;
}
.gender-title{
    font-size: 1.5em;
    text-align: left;
    display: block;
    color: rgb(59, 139, 207);
    padding-bottom: 15px;
}
.gender-title.female{
    color: rgb(207, 74, 92);
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left !important;
}

/*@@@ Basic Panchang
*/
/*Panchang*/
.single #post-nav ul {
    padding: 2em 0 0.5em;
    border-bottom: 1px solid #ddd;
    line-height: 1.778em;
}
.blog.masonry-style article.three .panchang-block-title{
    border-radius: 1em 1em 0 0;
    /* height: 4em; */
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    color: #FFFFFF;
}
.blog.masonry-style article.three .blog-excerpt h2{
    font-size: 1.2em;
}
.sunrise-set{
    background: #f39c12;
}
.margin-right-zero{
    margin-right: 0 !important;
}
.bottom-links{
    margin:40px 0 ;
}
.bottom-links li a{
    color: #696969;
    font-size: 1.3em;
    text-decoration: none;
    display: block;
}
.bottom-links li{
    padding: 10px 0;
    border-bottom: 1px solid #e3e3e3;
}
.bottom-links li a:hover{
    color: #222222;
    text-decoration: underline;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type=""],
input:not([type])
{
    width: 100%;
    height: 45px;
    padding: 0 10px;
    max-width: none;
}
select{
    width: 100%;
    height: 45px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.3em;
    background: #FFFFFF;
    padding: 0 7px;
    margin-bottom: 10px;
}
input[type="submit"]
{
    width: 100%;
    padding: 0.667em 0;
}
input.validationError,
textarea.validationError,
select.validationError{
    border-color: #FF5000 !important;
}
.meta-post a{
    color: #FD685B !important;
}
h4.meta-post{
    font-weight: 600;
}
.meta_post_title{
    font-size: 1.5em;
    color: #444;
}
.panchang-details article h2{
    border-bottom: 1px solid #e3e3e3;
    margin: 0;
    font-weight: 400;
    color: #555;
    padding: 0 0 10px 0;
}
.common-block{
    width: auto;
    height: auto;
    padding: 5px;
    margin: 0 0 0 10px;
}
.pc-common-elements .column:last-child{
    margin-right: 0!important;
}
.pc-common-elements,
.pc-five-elements,
.pc-hindu-month,
.pc-auspicious-elements,
.pc-inauspicious-elements,
.pc-disha-shool{
    background: #fff;
    border-bottom: 1px solid #e3e3e3;
    padding:  0;
    overflow: hidden;
    display: block;
    height: auto;
}
.pc-common-elements,
.pc-five-elements,
.pc-hindu-month,
.pc-auspicious-elements,
.pc-inauspicious-elements,
.pc-disha-shool p{
    color: #34495e;
}
.pachang-data-block:last-child{
    border-right: 0 !important;
}
.pachang-data-block{
    border-right: 1px solid #e3e3e3;
    /* margin-top: 15px; */
    /* margin-bottom: 25px; */
    font-size: 1em;
    text-align: center;
    margin-right: 0;
    padding: 5px 15px;
}
/*.panchang-block-width{
    width: 25% !important;
}*/
.last{
    border-right: 0;
}
img.panchang-form-ajax{
    position: absolute;
    left: 49%;
    top: 1%;
}
.text-left {
    text-align: left;
}
.p-elements h4{
    color: #34495e;
}
.Shubh,
.Labh,
.Amrit
{
    color: #028116 !important;
    /*background: #54DF8F;
    border-color: #4AC27D !important;*/
}
.Shubh a,
.Labh a,
.Amrit a{
    color: #FFFFFF !important;
}
.Kaal a,
.Udveg a,
.Rog a
{
    color: #FFFFFF !important;
}
.Kaal,
.Udveg,
.Rog
{
    color: #cf4e26 !important;
    /*background: #EC887E;
    border-color: #CF7C74 !important;*/
}
.Char{
    color: #076dca !important;
    /*background: #6ABCF4;
    border-color: #5FA0CA !important;*/
}
.Char a{
    color: #FFFFFF !important;
}
/*@@@ Gems Suggestion
*/
.gemestoneImg {
    max-width: none;
    width: 100px;
    padding: 10px;
    border: 1px solid #eee;
    box-sizing: border-box;
    height: 100px;
    background: #f3f3f3;
    margin: 10px 0 0 -15px;
}
.gemestoneRemedies-container {
    height: auto;
    overflow: hidden;
    display: block;
    margin: 10px 0 25px;
    border-bottom: 1px solid #f3f3f3;
}
.remedies-legends {
    color: #05b8cc!important;
    font-weight: 400;
    font-size: 1.6em !important;
    font-size: 20px;
    border-bottom: 1px double #ECECEC!important;
}
.gemestoneRemediesDetails {
    padding: 5px 0;
    height: auto;
    overflow: hidden;
    display: block;
}
.gemestoneRemediesDetails span {
    background: none repeat scroll 0 0 rgba(68, 138, 255, 0.85);
    border-radius: 0.3em;
    color: #FFFFFF;
    height: auto;
    overflow: hidden;
    padding: 6px 10px;
    text-align: justify;
    width: auto;
    margin: 5px 5px 0 1px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
}
.gemestoneRemediesDetails span>strong {
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 1px;
}

/*Kalsarpa*/
.kalsarpa-desc{
    width: 130px;
    height: 130px;
    padding: 10px 10px 5px;
    background: #f7f7f7;
    border-radius: 50%;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
}
.kalsarpa-desc p{
    text-align: center;
    font-size: 2em;
    margin: 0;
}
.kalsarpa-desc h3{
    text-align: center;
    padding: 0 0 6px 0;
    margin-bottom: 0;
    color: #565656;
    border-bottom: 1px solid #d3d3d3;
    box-shadow: 0 1px #fff;
}

/* Dasha
*/

.dasha-nav ul{
    margin: 0;
    padding: 0;
}
.dasha-nav ul li{
    list-style: none;
    background: #00aacc;
    border: 1px solid #00aacc;
    border-radius: 0.3em;
    text-align: center;
    height: 40px;
    line-height: 2.4em;
    margin: 0 auto;
    display: inline-block;
    padding: 0 20px;
}
.dasha-nav ul li:hover{
    background: #00bbdd;
    cursor: pointer;
}
.dasha-nav ul li a{
    text-decoration: none;
    color: #ffffff;
}
/*
    Current dasha ui css
*/
.Crnt-Dasha {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    padding: 0 ;
}

.dashaPlanet {
    background: #53BBF3;
    border: 1px solid #53BBF3;
    border-radius: 0.2em;
    color: #FFFFFF;
    cursor: pointer;
    height: 40px;
    line-height: 38px;
    text-align: center;
    width: 70px;
    margin-right: 10px;
}
.dashaFirstLevel{
    float: left;
}
.dashaFirstlevelData {
    margin: 0 0 15px 10px!important;
}
.dashaData {
    width: 100%;
    height: 40px;
    position: relative;
    float: left;
    margin: 20px 0 15px 10px;
}
.dashaData b {
    color: #5c5c5c;
    font-weight: normal;
    font-size: 1.2em;
}
.dashaData p {
    color: #878787;
    position: relative;
}
.dashaSecondLevel {
    margin-left: 20px!important;
    float: left;
}
.dashaThirdLevel {
    margin-left: 40px !important;
    float: left;
}
.dashaFourthLevel {
    margin-left: 60px!important;
    float: left;
}
.dashaFifthLevel {
    margin-left: 80px !important;
    float: left;
}

/*
    Major Vimshottari dasha ui css and current
    vdasha all level css
*/
.responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border: 1px solid #167F92;
}
.responstable tr {
    border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
    background-color: #EAF3F3;
}
.responstable th {
    display: none;
    border: 1px solid #FFF;
    background-color: #167F92;
    color: #FFF;
    font-weight: 500;
    padding: 1em;
}
.responstable th:first-child {
    display: table-cell;
    text-align: center;
}
.responstable th:nth-child(2) {
    display: table-cell;
}
.responstable th:nth-child(2) span {
    display: none;
}
.responstable th:nth-child(2):after {
    content: attr(data-th);
}
@media (min-width: 480px) {
    .responstable th:nth-child(2) span {
        display: block;
    }
    .responstable th:nth-child(2):after {
        display: none;
    }
}
.responstable td {
    display: block;
    word-wrap: break-word;
    max-width: 7em;
}
.responstable td:first-child {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
    .responstable td {
        border: 1px solid #D9E4E6;
    }
}
.responstable th, .responstable td {
    text-align: left;
    margin: .5em 1em;
}
@media (min-width: 480px) {
    .responstable th, .responstable td {
        display: table-cell;
        padding: 1em;
    }
}

#tabs {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#tabs li {
    float: left;
    margin: 0 15px 0 0;
}


#tabs a {
    position: relative;
    background: #ffffff;
    padding: .7em 1em;
    float: left;
    text-decoration: none;
    color: #565656;
    border: 1px solid #d3d3d3;
    border-radius: 0.3em;
    transition: all 0.125s ease-in-out 0s;
    -moz-transition: all 0.125s ease-in-out 0s;
    -webkit-transition: all 0.125s ease-in-out 0s;
    -o-transition: all 0.125s ease-in-out 0s;
    -ms-transition: all 0.125s ease-in-out 0s;
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
    background: #00aacc;
    color: #ffffff;
    border: 1px solid #00aacc;
}
#tabs a::after {
    background: #00bbdd;
    color: #ffffff;
    border: 1px solid #00bbdd;
}

#tabs #current a,
#tabs #current a::after {
    background: #00aacc;
    z-index: 3;
    color: #ffffff;
    border: 1px solid #00aacc;
}
#tabs a:focus {
    outline: 0;
}

#content_tab {
    background: #FFf;
    padding: 0;
    position: relative;
    z-index: 2;
    border-radius: 0 5px 5px 5px;
}


/*Rudraksha
*/
.rudrakshaImageContainer {
    width: 280px;
    margin: auto;
    padding: 5px;
    border-radius: 0.3em;
    text-align: center;
}
.rudrakshaImageContainer figcaption{
    font-size: 1.5em;
}
.remedies-title {
    color: #292929!important;
    font-weight: 400;
    font-size: 1.6em;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px double #ECECEC!important;
}

/*Daily nakshatra Prediction*/
.birth-sign-nak{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    padding: 20px 0;
    text-align: center;
}

.moon-sign{
    background: #f4f4f4;
    border: 1px solid #e3e3e3;
}
.nak-star{
    background: #f4f4f4;
    border: 1px solid #e3e3e3;;
}
.prediction h3{
    color: #565656;
    padding-bottom: 5px;
}
.prediction p{
    line-height: 2.2em;
    color: #878787;
}

/*Image Overlay*/
#photos {
    margin: 0 auto;
    position: relative;
}
#photos img {
    position: relative;
    float: none;
    width: 100%;
}
#photos #overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    background: rgba(0, 0, 0, 0.15);
    display: block;
}
#photos p {
    position: relative;
    font-family: 'Dancing Script', cursive;
    color: #FFF;
    font-size: 2em;
    top: 45%;
    font-weight: bold;
    display: block;
    text-align: center;
}
.match-ashtakoot-overlay{
    height:160px;
    background: #f857a6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f857a6 , #ff5858); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f857a6 , #ff5858); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/*Ashtakoot Points*/
.cust-table thead th{
    text-transform: none !important;
}
.ashtakoot-conclusion-thumb{
    font-size: 5em !important;
    text-align: center !important;
    display: block !important;
    margin: 35px 0 !important;
    color: #fff !important;
}
.match-m-manglik-overlay{
    height:160px;
    background: #348AC7; /* fallback for old browsers */
}
.match-f-manglik-overlay{
    height:160px;
    background: #f857a6
}

/*Chaughadiya*/
.Shubh,.Labh,.Amrit{color:#028116!important;}.Shubh a,.Labh a,.Amrit a{color:#FFFFFF!important;}.Kaal a,.Udveg a,.Rog a{color:#FFFFFF!important;}.Kaal,.Udveg,.Rog{color:#cf4e26!important;}.Char{color:#076dca!important;}.Char a{color:#FFFFFF!important;}

@media handheld,only screen and (max-width:48em) {
    .panchang-details .meta-post{
        font-size: 1.3em  !important;
    }
    .panchang-details p{
        font-size: 1.3em ;
    }
    .p-elements p {
        font-size: 0.778em !important;
    }
    .pachang-data-block {
        border-right: 0 !important;
        border-bottom: 1px solid #bdc3c7;
    }
    .apidemo-language{
        width: 50%;
    }
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    .grid-col-1 {
        width: 100%;
        position: relative;
        min-height: 1px;
        padding-right: -15px;
        padding-left: -15px;
    }

    .match-making-report .blocks {
        height: auto !important;
    }

}