html, body {
	width: 100%;
	height: auto;
}
#astro-warpper {
	width: 100%;
	height: 100%;
}
.top-section{
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.main-header {
	width: 100%;
	height: auto;
	background: #fff;
	padding: 5px 0px;
}
.main-header .top-header {
	width: 100%;
	height: 50px;
	background: #fff;
	margin: 0px;
}
h3{
	font-size:16px;
}
.form-control{
	border-radius:0px;
	height: 40px;
}
.no-pad {
}
.main-logo{
	margin-left:70px;
	display:block
}
.main-navigation {
	max-width: 100%;
	margin: 0 auto;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.main-navigation .nav-style {
    width: 100%;
    border-radius: 0px;
    background-color: #000;
    border-color: #000000;
	margin-bottom: 0;
}
a {
    color: #555;
    text-decoration: none;
}
a:hover {
    color:#d7a821;
    text-decoration: none;
}


@media (min-width: 768px) {
.main-navigation .navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.main-navigation .navbar-nav > li:not(:last-child) {
	float: left;
	padding: 0px 15px;
	background:url(../../rgyan_%20update_files/header_seprator.gif) right 15px no-repeat;
}
}
.main-navigation .navbar-nav > li>a {
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	

}
.main-navigation .navbar .navbar-collapse {
	text-align: center;
}

/*dro down css*/
.dropdown .dropdown-menu .caret{border:4px solid transparent;border-left-color:#000;float:right;margin-top:6px}.dropdown-menu{min-width:180px}.dropdown-menu > li.open > a{background-color:#F5F5F5;color:#262626;text-decoration:none}.dropdown-menu .dropdown-menu{left:100%;margin:0;right:auto;top:-1px}.dropdown-menu-right .dropdown-menu,.navbar-right .dropdown-menu .dropdown-menu,.pull-right .dropdown-menu .dropdown-menu{left:auto;right:100%}.dropdown-menu.animated{-webkit-animation-duration:0.3s;animation-duration:0.3s}.dropdown-menu.animated:before{content:" ";display:block;height:100%;left:0;position:absolute;top:0;width:100%;z-index:99}.dropdownhover-top{margin-bottom:2px;margin-top:0}.navbar-fixed-bottom .dropdown-menu .dropdown-menu,.dropdownhover-top .dropdown-menu{bottom:-1px;top:auto}.navbar-nav > li > .dropdown-menu{margin-bottom:0}.dropdownhover-bottom{-webkit-transform-origin:50% 0;transform-origin:50% 0}.dropdownhover-left{-webkit-transform-origin:100% 50%;transform-origin:100% 50%}.dropdownhover-right{-webkit-transform-origin:0 50%;transform-origin:0 50%}.dropdownhover-top{-webkit-transform-origin:50% 100%;transform-origin:50% 100%}
/*dro down css*/




/*sidebar*/


.user-log{
	display:block;
	margin-top: 15px;
    margin-right: 10px;
	
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
.dropdown-menu-style{
	left: -38px;
	border-radius:0px;
	
}



#login-dp {
    min-width: 258px;
    padding: 14px 14px 0;
    overflow: hidden;
    /*background-color: rgba(255,255,255,.8);*/
    left: -198px;
    border-radius: 0;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}





/********************************main sectionwappwer*********/

#mainsection-wapp{
	width:100%;
	height:auto;
	padding-bottom:20px;
	margin-top:113px;
	
}
.breadcrumbs-v3.img-v8 {
    background: url(../img/banner.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
}
.breadcrumbs-v3 {
    z-index: 1;
    padding: 110px 0;
    position: relative;
}
.banner-area h1{
	font-size:30px;
	color:#fff;
}
.astro-list{
	width:100%;
	background:#d7a821;
	padding:10px 0px;
}
.astro-list ul {
	margin-bottom: 	0px;
}
.astro-list ul li{
	padding-right: 30px;
    padding-left: 30px;
}
.astro-list ul li a{
	color:#fff;
	
	
}


/*main content aera*/
#astro-warpper .main-content-wapp{
	width:100%;
	height:auto;
	padding-bottom:20px;
}
#astro-warpper .main-content-wapp .left-section {
	width:100%;
	height:auto;
	diplay:block;

}
#astro-warpper .main-content-wapp .left-section  img {
	width:100%;
	height:auto;
    display: block;
	padding-bottom:20px;

}
.main-content-wapp .midd-section {
	width:100%;
	height:auto;
	padding-bottom: 20px;

}
.main-content-wapp .right-section {
	width:100%;
	height:auto;
	display: block;

}
.main-content-wapp .right-section img {
	width:100%;
	height:auto;
	padding-bottom:20px;

}
.title-aera{
	width:100%;
	height:auto;
   display: inline-block;
}
 .title-aera h3,img {
	float:left;

}
.title-aera h3{
	font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
}


/*Thumbnails
------------------------------------*/
/*Thumbnails
------------------------------------*/
/*Others
------------------------------------*/
.overflow-h {
    overflow: hidden;
	margin-top:20px;
}
.overflow-a {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}
/*CSS3 Hover Effects*/
.hover-effect {
    transition: all 0.4s ease-in-out;
}
.hover-effect-kenburn {
    left: 10px;
    margin-left: -10px;
    position: relative;
    transition: all 0.8s ease-in-out;
}
.hover-effect-kenburn:hover {
    transform: scale(2) rotate(5deg);
}
/*Thumbnails
------------------------------------*/
.reading_sction{
    margin-bottom:40px
}
a.thumbnail {
    padding: 0;
    border: none;
    margin-bottom: 15px;
}

.thumbnail-style {
    padding: 7px;
    margin-bottom: 0px;
    box-shadow: 0 0 1px #f3ddbc;
}
.thumbnail-styl:hover {
    box-shadow: 0 0 8px #ddd;
    transition: box-shadow 0.2s ease-in-out;
}
.thumbnail h3, .thumbnail-style h3 {
    margin: 6px 0 8px 0;
	
}

.thumbnail h3 a:hover, .thumbnail-style h3 a:hover {
    color: #d7a821;
    text-decoration: none;
}
.thumbnail-style .thumbnail-img {
    position: relative;
    margin-bottom: 0px;
}
.thumbnail-style a.btn-more {
    right: -10px;
    bottom: 10px;
    color: #fff;
    padding: 1px 6px;
    position: absolute;
    background: #d7a821;
    display: inline-block;
    font-size: 12px;
}
.thumbnail-style a.btn-more:hover {
    text-decoration: none;
    box-shadow: 0 0 0 2px #d7a821;
}
.thumbnail-style:hover a.btn-more {
    right: 10px;
}
.thumbnail-kenburn img {
    left: 10px;
    margin-left: -10px;
    position: relative;
    transition: all 0.8s ease-in-out;
}
.thumbnail-kenburn:hover img {
    transform: scale(1.2) rotate(2deg);
}
.thumbnail h3 a, .thumbnail-style h3 a {
    color: #d7a821;
    font-size: 15px;
}
.thumbnail-style p{
    font-size:12px
}

.hover-effect {
    transition: all 0.4s ease-in-out;
}

/*shopaera*/
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.heading {
    text-align: center;
}
.illustration-v4 .thumb-product {
	padding: 10px;
	overflow: hidden;
	margin-bottom: 20px;
}

.illustration-v4 .thumb-product:hover {
	box-shadow: 0 0 3px #dedede;
}

.illustration-v4 .heading h3 {
	font-size: 16px;
}
/*Heading Options*/
.heading {
	text-align: center;
}

.heading h3 {
	padding: 0 12px;
	position: relative;
	display: inline-block;
	line-height: 34px !important; /*For Tagline Boxes*/
}

.heading h3:before,
.heading h3:after {
	content: ' ';
	width: 70%;
	position: absolute;
	border-width: 1px;
	border-color: #bbb;
}

.heading h3:before {
	right: 100%;
}

.heading h3:after {
	left: 100%;
}

@media (max-width: 768px) {
	.heading h3:before,
	.heading h3:after {
		width: 20%;
	}
}

/*Headline v1*/
.heading-v1 h3:before,
.heading-v1 h3:after {
	top: 15px;
	height: 6px;
	border-top-style: solid;
	border-bottom-style: solid;
}

.illustration-v4 .heading h3:before,
.illustration-v4 .heading h3:after {
  	width: 50%;
}

.illustration-v4 img.thumb-product-img {
	float: left;
	/*width: 100px;
	height: 100px;*/
	margin-right: 25px;
}

.illustration-v4 .thumb-product-in {
	overflow: hidden;
	margin-top: 0px;
}

.illustration-v4 .thumb-product-in h4 {
	margin: 0 0 2px;
}

.illustration-v4 .thumb-product-in h4 a {
	color: #687074;
	font-size: 14px;
}

.illustration-v4 .thumb-product-in h4 a:hover {
	color: #18ba9b;
}

.illustration-v4 .thumb-product-in span {
	display: block;
}

.illustration-v4 span.thumb-product-type {
	color: #999;
	font-size: 13px;
}

.illustration-v4 .thumb-product-price {
	color: #687074;
	font-size: 16px;
}

.illustration-v4 .thumb-product-price.line-through {
	color: #c9253c;
	text-decoration: line-through;
}

.illustration-v4 .thumb-product-purchase {
	color: #ccc;
	float: right;
	margin-top: 3px;
}

.illustration-v4 .thumb-product-purchase a {
	color: #d7a821;
}

.illustration-v4 .thumb-product-purchase i {
	top: 1px;
	font-size: 16px;
	position: relative;
}

.illustration-v4 .thumb-product-purchase a:hover {
	color: #000;
	text-decoration: none;
}


/*main content aera*/




/**************************************main sectionwappwer*********/


/************************************************************
*************************Footer******************************
*************************************************************/

@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Gudea);
.footer1 {
	background: #000 url("../images/footer/footer-bg.png") repeat scroll left top;
	padding-top: 40px;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
	color: #fff;/*	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #003;*/
}
.title-widget {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 1;
	position: relative;
	text-transform: capitalize;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 25px;
	margin-left: 0;
	padding-left: 10px;
}
.title-widget::before {
	background-color: #fff;
	content: "";
	height: 22px;
	left: 0px;
	position: absolute;
	top: -2px;
	width: 2px;
}
.widget_nav_menu ul {
	list-style: outside none none;
	padding-left: 0;
}
.widget_archive ul li {
	background-color: rgba(0, 0, 0, 0.3);
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	top: 7px;
	width: 3px;
}
.widget_nav_menu ul li {
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	position: relative;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	margin-bottom: 7px;
	padding-bottom: 7px;
	width: 95%;
}
.widget_nav_menu li a {
	color: #fff !important;
}
.foot-color li a {
	color: #fff;
	text-transform: capitalize;
}
.title-median {
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 15px;
	text-transform: capitalize;
	font-family: 'Fjalla One', sans-serif;
}
.footerp p {
	font-family: 'Gudea', sans-serif;
}
.nomargin a {
	color: #fff;
	font-size: 10px;
	font-weight: normal;
}
/*social*/


.btn-social {
	position: relative;
	padding-left: 44px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}
.btn-social :first-child {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 32px;
	line-height: 34px;
	font-size: 1.6em;
	text-align: center;
	border-right: 1px solid rgba(0,0,0,0.2)
}
.btn-social.btn-lg {
	padding-left: 61px
}
.btn-social.btn-lg :first-child {
	line-height: 45px;
	width: 45px;
	font-size: 1.8em
}
.btn-social.btn-sm {
	padding-left: 38px
}
.btn-social.btn-sm :first-child {
	line-height: 28px;
	width: 28px;
	font-size: 1.4em
}
.btn-social.btn-xs {
	padding-left: 30px
}
.btn-social.btn-xs :first-child {
	line-height: 20px;
	width: 20px;
	font-size: 1.2em
}
.btn-social-icon {
	position: relative;
	padding-left: 44px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 34px;
	width: 34px;
	padding: 0
}
.btn-social-icon :first-child {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 32px;
	line-height: 34px;
	font-size: 1.6em;
	text-align: center;
	border-right: 1px solid rgba(0,0,0,0.2)
}
.btn-social-icon.btn-lg {
	padding-left: 61px
}
.btn-social-icon.btn-lg :first-child {
	line-height: 45px;
	width: 45px;
	font-size: 1.8em
}
.btn-social-icon.btn-sm {
	padding-left: 38px
}
.btn-social-icon.btn-sm :first-child {
	line-height: 28px;
	width: 28px;
	font-size: 1.4em
}
.btn-social-icon.btn-xs {
	padding-left: 30px
}
.btn-social-icon.btn-xs :first-child {
	line-height: 20px;
	width: 20px;
	font-size: 1.2em
}
.btn-social-icon :first-child {
	border: none;
	text-align: center;
	width: 100% !important
}
.btn-social-icon.btn-lg {
	height: 45px;
	width: 45px;
	padding-left: 0;
	padding-right: 0
}
.btn-social-icon.btn-sm {
	height: 30px;
	width: 30px;
	padding-left: 0;
	padding-right: 0
}
.btn-social-icon.btn-xs {
	height: 22px;
	width: 22px;
	padding-left: 0;
	padding-right: 0
}
.btn-facebook {
	color: #fff;
	background-color: #3b5998;
	border-color: rgba(0,0,0,0.2)
}
.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
	color: #fff;
	background-color: #30487b;
	border-color: rgba(0,0,0,0.2)
}
.btn-facebook:active, .btn-facebook.active, .open .dropdown-toggle.btn-facebook {
	background-image: none
}
.btn-facebook.disabled, .btn-facebook[disabled], fieldset[disabled] .btn-facebook, .btn-facebook.disabled:hover, .btn-facebook[disabled]:hover, fieldset[disabled] .btn-facebook:hover, .btn-facebook.disabled:focus, .btn-facebook[disabled]:focus, fieldset[disabled] .btn-facebook:focus, .btn-facebook.disabled:active, .btn-facebook[disabled]:active, fieldset[disabled] .btn-facebook:active, .btn-facebook.disabled.active, .btn-facebook[disabled].active, fieldset[disabled] .btn-facebook.active {
	background-color: #3b5998;
	border-color: rgba(0,0,0,0.2)
}
.btn-google-plus {
	color: #fff;
	background-color: #dd4b39;
	border-color: rgba(0,0,0,0.2)
}
.btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus {
	color: #fff;
	background-color: #ca3523;
	border-color: rgba(0,0,0,0.2)
}
.btn-google-plus:active, .btn-google-plus.active, .open .dropdown-toggle.btn-google-plus {
	background-image: none
}
.btn-google-plus.disabled, .btn-google-plus[disabled], fieldset[disabled] .btn-google-plus, .btn-google-plus.disabled:hover, .btn-google-plus[disabled]:hover, fieldset[disabled] .btn-google-plus:hover, .btn-google-plus.disabled:focus, .btn-google-plus[disabled]:focus, fieldset[disabled] .btn-google-plus:focus, .btn-google-plus.disabled:active, .btn-google-plus[disabled]:active, fieldset[disabled] .btn-google-plus:active, .btn-google-plus.disabled.active, .btn-google-plus[disabled].active, fieldset[disabled] .btn-google-plus.active {
	background-color: #dd4b39;
	border-color: rgba(0,0,0,0.2)
}
.btn-instagram {
	color: #fff;
	background-color: #3f729b;
	border-color: rgba(0,0,0,0.2)
}
.btn-instagram:hover, .btn-instagram:focus, .btn-instagram:active, .btn-instagram.active, .open .dropdown-toggle.btn-instagram {
	color: #fff;
	background-color: #335d7e;
	border-color: rgba(0,0,0,0.2)
}
.btn-instagram:active, .btn-instagram.active, .open .dropdown-toggle.btn-instagram {
	background-image: none
}
.btn-instagram.disabled, .btn-instagram[disabled], fieldset[disabled] .btn-instagram, .btn-instagram.disabled:hover, .btn-instagram[disabled]:hover, fieldset[disabled] .btn-instagram:hover, .btn-instagram.disabled:focus, .btn-instagram[disabled]:focus, fieldset[disabled] .btn-instagram:focus, .btn-instagram.disabled:active, .btn-instagram[disabled]:active, fieldset[disabled] .btn-instagram:active, .btn-instagram.disabled.active, .btn-instagram[disabled].active, fieldset[disabled] .btn-instagram.active {
	background-color: #3f729b;
	border-color: rgba(0,0,0,0.2)
}
.btn-linkedin {
	color: #fff;
	background-color: #007bb6;
	border-color: rgba(0,0,0,0.2)
}
.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active, .open .dropdown-toggle.btn-linkedin {
	color: #fff;
	background-color: #005f8d;
	border-color: rgba(0,0,0,0.2)
}
.btn-linkedin:active, .btn-linkedin.active, .open .dropdown-toggle.btn-linkedin {
	background-image: none
}
.btn-linkedin.disabled, .btn-linkedin[disabled], fieldset[disabled] .btn-linkedin, .btn-linkedin.disabled:hover, .btn-linkedin[disabled]:hover, fieldset[disabled] .btn-linkedin:hover, .btn-linkedin.disabled:focus, .btn-linkedin[disabled]:focus, fieldset[disabled] .btn-linkedin:focus, .btn-linkedin.disabled:active, .btn-linkedin[disabled]:active, fieldset[disabled] .btn-linkedin:active, .btn-linkedin.disabled.active, .btn-linkedin[disabled].active, fieldset[disabled] .btn-linkedin.active {
	background-color: #007bb6;
	border-color: rgba(0,0,0,0.2)
}
.btn-twitter {
	color: #fff;
	background-color: #55acee;
	border-color: rgba(0,0,0,0.2)
}
.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active, .open .dropdown-toggle.btn-twitter {
	color: #fff;
	background-color: #309aea;
	border-color: rgba(0,0,0,0.2)
}
.btn-twitter:active, .btn-twitter.active, .open .dropdown-toggle.btn-twitter {
	background-image: none
}
.btn-twitter.disabled, .btn-twitter[disabled], fieldset[disabled] .btn-twitter, .btn-twitter.disabled:hover, .btn-twitter[disabled]:hover, fieldset[disabled] .btn-twitter:hover, .btn-twitter.disabled:focus, .btn-twitter[disabled]:focus, fieldset[disabled] .btn-twitter:focus, .btn-twitter.disabled:active, .btn-twitter[disabled]:active, fieldset[disabled] .btn-twitter:active, .btn-twitter.disabled.active, .btn-twitter[disabled].active, fieldset[disabled] .btn-twitter.active {
	background-color: #55acee;
	border-color: rgba(0,0,0,0.2)
}

.nomargin {
	margin: 0px;
	padding: 0px;
}
.footer-bottom {
	background-color: #2b2c2d;
	min-height: 30px;
	width: 100%;
}
.copyright {
	color: #fff;
	line-height: 30px;
	min-height: 30px;
	padding: 7px 0;
}
.design {
	color: #fff;
	line-height: 30px;
	min-height: 30px;
	padding: 7px 0;
	text-align: right;
}
.design a {
	color: #fff;
}





/************************************************************
*************************Footer******************************
*************************************************************/





#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

/*#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}
*/
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;   
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;   
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;   
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;   
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;   
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;   
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;   
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
      -moz-transition:  width .2s ease-in;
       -ms-transition:  width .2s ease-in;
            transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: absolute;
  top: 10px;  
  z-index: 999;
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  background: transparent;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}














/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

.content {
	padding: 30px;
	background: #f1f3fa;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

/* Portlet */
.portlet {
    background: #fff;
    padding: 10px;
    border: 2px solid #d7a821;
}

.portlet.portlet-gray {
	background: #f7f7f7;
}

.portlet.portlet-bordered {
	border: 1px solid #eee;
}

/* Portlet Title */
.portlet-title {
	padding: 0;
  	min-height: 40px;
  	border-bottom: 1px solid #d7a821;
  	margin-bottom: 18px;
}

.portlet-title .caption {
    float: left;
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
}
.portlet-title .caption.caption-green .caption-subject,
.caption.caption-green i {
	color: #4db3a2;
	font-weight: 200;
}

.portlet-title.caption.caption-red .caption-subject,
.caption.caption-red i {
	color: #e26a6a;
	font-weight: 200;
}

.portlet-title.caption.caption-purple .caption-subject,
.caption.caption-purple i {
	color: #8775a7;
	font-weight: 400;
}

.portlet-title.caption i {
	color: #777;
	font-size: 15px;
	font-weight: 300;
	margin-top: 3px;
}

.portlet-title.caption-subject {
	color: #666;
	font-size: 16px;
	font-weight: 600;
}

.portlet-title.caption-helper {
	padding: 0;
	margin: 0;
	line-height: 13px;
	color: #9eacb4;
	font-size: 13px;
	font-weight: 400;
}







/* Tab */
.portlet-title > .nav-tabs {
	background: none;
	margin:3px 0px;
	float: right;
	display: inline-block;
	border: 0;
}

.portlet-title > .nav-tabs > li {
	background: none;
	margin: 0;
	border: 0;
}

.portlet-title > .nav-tabs > li > a {
	background: none;
	border: 0;
	padding: 2px 10px 13px;
	color: #444;
}

.portlet-title > .nav-tabs > li.active,
.portlet-title > .nav-tabs > li.active:hover {
  	border-bottom: 2px solid #2b2c2d;
  	position: relative;
  }

  .portlet-title > .nav-tabs > li:hover {
  	border-bottom: 2px solid #2b2c2d;
  }

.portlet-title > .nav-tabs > li.active > a,
.portlet-title > .nav-tabs > li:hover > a {
	color: #333;
	background: #fff;
	border: 0;
}




