
 .navbar-default{
	 background:none;
	 border:none;
 }
.horo-style li{
	padding:0px;
} 
.tooltip .tooltiptext {
	background:#ff9900;
}
.horo-tab{
	border:0;
	padding-left: 10px;
}
.horo-tab li{
    margin-right: 1px;
}
.horo-tab li a{
	padding:0px;
	margin-right: 0px;
	border:0;
}
.horo-tab li.active{
    border: 0 !important;
	background-color: rgba(215, 168, 33, 0.59);
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}
 
.horo-tab li a:focus{
	
    border: 0 !important;
	background-color: #fff;
   
	
}
.horo-tab li a:hover{
	border:none !important;
}
/*form css*/
.form-hed {
    border-bottom: 1px solid #604801;
    padding-bottom: 0px;
    margin-bottom: 10px;
    text-align: center;
}
.form-hed  h3{
	color:#fff;
	margin:0px;
}
.form-hed  p{
	color:#fff;
	font-size: 0.9em;
}
.Appointment-hed h3{
	color:#d7a821;
	margin-top: 10px;
}
.Appointment-hed p{
	
	margin-top: -10px;
}
.well-back{
	background:#d7a821;
	border-radius:0px;
	padding: 19px 10px;
	
}
.well-back-vs{
	background: rgba(255, 255, 255, 0);
    border-radius: 0px;
    padding: 0px 10px;
    border: 2px solid #d7a821;
}
.birht-vs{
	padding-bottom:5px;
}
.form-control-inn{
	border-radius:0px;
	height:40px;
	
}
.input-group-addon-bod{
	background: #fff;
	color: #604801;
	border-radius:0px;
}
.btn-info-stl{
	background: #604801;
    border-color: #604801;
	padding: 10px;
    border-radius: 0px;
}

.btn-info-stl:hover{
	background:#000;
	border-color: #604801;
}
.btn-info-stl:active{
	background:#000 !important;
	border-color: #604801 !important;
}
.btn-info-st{
	background: #d7a821;
    border-color: #d7a821;
	padding: 10px;
    border-radius: 0px;
}
.btn-info-st:hover{
	background: #d7a821;
    border-color: #d7a821;
}
.btn-info-st:active{
	background:#000 !important;
	border-color: #604801 !important;
}
.hr-bord {
    margin: 0px -10px;
    border-top: 5px solid #d7a821;
    width: 75%;
}





























/*slidercss*/
.main-box-vs{
	width:100%;
	height:auto;
	display:inline-block;
	padding-bottom: 20px;
}
.box2 {
    width: 15%;
    float: left;
    background: #5a3300;
    height: 118px;
}
.box2 img{
	
	display:block;
	width: 100%;
	overflow:hidden;
}

.spe-cor {
  position: relative;
  background: #FFF;
  width:85%;
  float:left;
  height:118px;
}
.spe-cor .carousel-correspondence [class*="cloneditem-"] {
  display: none;
}
.spe-cor .carousel-inner {
  margin-bottom: 20px;
}
.spe-cor h4.title {
  padding-top: 25px;
  padding-bottom: 10px;
}
.spe-cor .thumbnail img {
  border-radius: 0%;
  border: 1px solid #DDD;
  width:80px;
  margin: 0px 10px;
}
.spe-cor .thumbnail {
  margin-bottom: 0;
  border-radius: 0;
  padding: 10px;
  height: auto;
  position: relative;
  /*border: none;*/
  overflow: hidden;
}
.spe-cor .thumbnail:hover, .spe-cor .thumbnail:active, .spe-cor .thumbnail:focus {
  background: #FFF;
}
.spe-cor .thumbnail:after {
  content: '';
  background: #5a3300;
  position: absolute;
  height: 2px;
  width: 100%;
  left: calc(100% + 10px);
  bottom: 0;
  -webkit-transition: 0.5s; /* Safari */
  transition: 0.5s;
  -moz-transition: 0.5s;
}
.spe-cor .thumbnail:hover:after, .spe-cor .thumbnail:active:after, .spe-cor .thumbnail:focus:after {
  left: 0%;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
  -moz-transition: 1s;
}
.spe-cor .thumbnail .caption {
  padding: 0;
}
.spe-cor .thumbnail .caption h5 {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 0.8;
}
.spe-cor .thumbnail .caption h5 > a {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: #555;
  line-height: 0.8;
  text-transform: capitalize;
}
.spe-cor .thumbnail .caption h5 > a:hover, .spe-cor .thumbnail .caption h5 > a:active, .spe-cor .thumbnail .caption h5 > a:focus {
  color: #005fb1;
  text-decoration: none;
}
.spe-cor .thumbnail .caption p.cate-para {
  margin-bottom: 0px;
  text-align: center;
}
.spe-cor .thumbnail .caption p.cate-para > a, .spe-cor .thumbnail .caption p.cate-para > a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: left;
}
.spe-cor .thumbnail .caption p.cate-para > a:hover, .spe-cor .thumbnail .caption p.cate-para > a:focus, .spe-cor .thumbnail .caption p.cate-para > a:active {
  color: #cc0000;
  text-decoration: none;
}
.spe-cor .thumbnail .caption span.date, .spe-cor .thumbnail .caption span.comment {
  margin-bottom: 0;
}
.carousel-correspondence .carousel-control.left, .carousel-correspondence .carousel-control.right, .carousel-video-thumb .carousel-control.left, .carousel-video-thumb .carousel-control.right {
  background-image: none !important;
  color: #c0c0c0;
  height: 35px;
  width: 35px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(224, 224, 224);
  background-color: rgb(245, 245, 245);
  margin: 0;
}
.carousel-correspondence .carousel-control.left:hover, .carousel-correspondence .carousel-control.right:hover, .carousel-video-thumb .carousel-control.left:hover, .carousel-video-thumb .carousel-control.right:hover {
  color: #FFF;
  background: #C00;
}
.carousel-correspondence .controls, .carousel-video-thumb .controls {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 75px;
  padding-right: 15px;
  padding-left: 15px;
  background: none;
  top: 0;
  right: 0;
  margin-top: -40px;
  height: 35px;
}
.carousel-correspondence .carousel-control, .carousel-video-thumb .carousel-control {
  color: #fff;
  padding: 0px;
  padding-top: 3px;
  color: #428BCA;
  bottom: auto;
  width: 35px;
  height: 35px;
  text-shadow: none;
  opacity: 1;
  top: 0;
}
.carousel-correspondence .carousel-control:hover, .carousel-video-thumb .carousel-control:hover {
  color: #d9534f;
}
.carousel-correspondence .carousel-control.left, .carousel-correspondence .carousel-control.right, .carousel-video-thumb .carousel-control.left, .carousel-video-thumb .carousel-control.right {
  background-image: none !important;
}
.carousel-correspondence .carousel-control.right, .carousel-video-thumb .carousel-control.right {
  left: auto;
}
.carousel-correspondence .carousel-control.left, .carousel-video-thumb .carousel-control.left {
  right: auto;
}
.carousel-correspondence .carousel-indicators, .carousel-video-thumb .carousel-indicators {
  bottom: -30px;
}
.carousel-correspondence .carousel-indicators li, .carousel-video-thumb .carousel-indicators li {
  border-radius: 0;
  width: 10px;
  height: 10px;
  background: #ccc;
  border: 1px solid #ccc;
}
.carousel-correspondence .carousel-indicators .active, .carousel-video-thumb .carousel-indicators .active {
  width: 12px;
  height: 12px;
  background: #3276b1;
  border-color: #3276b1;
}

/*================================================*/

/*Correspondece Slider*/
@media all and (min-width:768px) {
	.carousel-correspondence .carousel-inner > .active.left, .carousel-correspondence .carousel-inner > .prev {
		left: -50%;
	}
	.carousel-correspondence .carousel-inner > .active.right, .carousel-correspondence .carousel-inner > .next {
		left: 50%;
	}
	.carousel-correspondence .carousel-inner > .left, .carousel-correspondence .carousel-inner > .prev.right, .carousel-correspondence .carousel-inner > .active {
		left: 0;
	}
	.carousel-correspondence .carousel-inner .cloneditem-1, .carousel-correspondence .carousel-inner .cloneditem-2 {
		display: block;
	}
}
@media all and (min-width:768px) and (transform-3d), all and (min-width:768px) and (-webkit-transform-3d) {
	.carousel-correspondence .carousel-inner > .item.active.right, .carousel-correspondence .carousel-inner > .item.next {
		-webkit-transform: translate3d(33.333%, 0, 0);
		transform: translate3d(33.33%, 0, 0);
		left: 0;
	}
	.carousel-correspondence .carousel-inner > .item.active.left, .carousel-correspondence .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-33.333%, 0, 0);
		transform: translate3d(-33.333%, 0, 0);
		left: 0;
	}
	.carousel-correspondence .carousel-inner > .item.left, .carousel-correspondence .carousel-inner > .item.prev.right, .carousel-correspondence .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}
@media all and (min-width:992px) and (max-width:1200px) {
	.carousel-correspondence .carousel-inner > .active.left, .carousel-correspondence .carousel-inner > .prev {
		left: -25%;
	}
	.carousel-correspondence .carousel-inner > .active.right, .carousel-correspondence .carousel-inner > .next {
		left: 25%;
	}
	.carousel-correspondence .carousel-inner > .left, .carousel-correspondence .carousel-inner > .prev.right, .carousel-correspondence .carousel-inner > .active {
		left: 0;
	}
	.carousel-correspondence .carousel-inner .cloneditem-2, .carousel-correspondence .carousel-inner .cloneditem-3 {
		display: block;
	}
}
@media all and (min-width:992px) and (transform-3d), all and (min-width:992px) and (-webkit-transform-3d) {
	.carousel-correspondence .carousel-inner > .item.active.right, .carousel-correspondence .carousel-inner > .item.next {
		-webkit-transform: translate3d(16.666%, 0, 0);
		transform: translate3d(25%, 0, 0);
		left: 0;
	}
	.carousel-correspondence .carousel-inner > .item.active.left, .carousel-correspondence .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-16.666%, 0, 0);
		transform: translate3d(-25%, 0, 0);
		left: 0;
	}
	.carousel-correspondence .carousel-inner > .item.left, .carousel-correspondence .carousel-inner > .item.prev.right, .carousel-correspondence .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}
@media all and (min-width:1200px) {
	.carousel-correspondence .carousel-inner > .active.left, .carousel-correspondence .carousel-inner > .prev {
		left: -16.666667%;
	}
	.carousel-correspondence .carousel-inner > .active.right, .carousel-correspondence .carousel-inner > .next {
		left: 16.666667%;
	}
	.carousel-correspondence .carousel-inner > .left, .carousel-correspondence .carousel-inner > .prev.right, .carousel-correspondence .carousel-inner > .active {
		left: 0;
	}
	.carousel-correspondence .carousel-inner .cloneditem-2, .carousel-correspondence .carousel-inner .cloneditem-3, .carousel-correspondence .carousel-inner .cloneditem-4, .carousel-correspondence .carousel-inner .cloneditem-5, .carousel-correspondence .carousel-inner .cloneditem-6 {
		display: block;
	}
}
@media all and (min-width:1200px) and (transform-3d), all and (min-width:1200px) and (-webkit-transform-3d) {
	.carousel-correspondence .carousel-inner > .item.active.right, .carousel-correspondence .carousel-inner > .item.next {
		-webkit-transform: translate3d(16.666667%, 0, 0);
		transform: translate3d(16.666667%, 0, 0);
		left: 0;
	}
	.carousel-correspondence .carousel-inner > .item.active.left, .carousel-correspondence .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-16.666667%, 0, 0);
		transform: translate3d(-16.666667%, 0, 0);
		left: 0;
	}
	.carousel-correspondence .carousel-inner > .item.left, .carousel-correspondence .carousel-inner > .item.prev.right, .carousel-correspondence .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		left: 0;
	}
}

/*Correspondece Slider Ends*/