

button, input[type="button"] {
    background-color: #D36161;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font: bold 14px arial,serif;
    margin: 3px;
    padding: 4px;
    width: 72px;
}
.demo {
    background-color: #F9F9F9;
    border-bottom: 3px dashed #EBEBEB;
    color: #5C5C5C;
    font-family: Microsoft Sans Serif;
    padding: 20px;
    position: relative;
    width: auto;
}
.demo:hover {
    background-color: #F8F8F8;
}
.demo:hover h1{
    color: #909090;
}
.demo:hover:after {
    border-left: 6px solid #CB5959;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.sample {
    z-index: 1;
    margin: 7px;
    position: relative;
}

.sample > span {
    color: #7B7B7B;
    font: bold 13px arial,serif;
}
.sample > span b {
    color: #B33D3D;
    display: block;
    padding: 7px;
    text-align: justify;
    text-shadow: 1px 1px 0 #F9F9F9;
    text-transform: uppercase;
    width: 438px;
}
.demos .input-container {
    z-index: 2;
}
